[2016-04-26 17:58] DavidWells opened #1 "Idea for clarity for folks unfamiliar with p-s"
Kent love this idea!

One issue that I have seen by all of the 'better npm scripts' setups is new folks not grokking what exactly the abstraction is doing or what it is running.

A.k.a the "p-s... what in the..." reaction from people unaware of this package

Has a proposal to potentially help folks looking at the package.json

before:
[code]

after:
[code]

Just my 2 cents!

[2016-04-26 18:05] kentcdodds commented on #1
Good point! Yet another  example of the fundamental problem with JSON's lack of comments! We cannot escape it!

What if we exposed the binary as `package-scripts` in addition to the existing `p-s`?

Feel free to file a pull request! Just an update to the `bin` in the `package.json` ought to do it!

[2016-04-26 20:06] DavidWells commented on #1
sounds good. I will take a stab at it.

[2016-04-27 00:44] #1 closed

[2016-05-01 20:51] kentcdodds opened #3 "Create cross platform example"

[2016-05-02 16:24] #3 closed

[2016-05-08 00:15] rwu823 opened #6 "Also support function"
currently
[code]
expect to support as well:

[code]

[2016-05-08 00:45] kentcdodds commented on #6
Cool. Can you explain a use case for doing this?

[2016-05-08 01:05] rwu823 commented on #6
Sometimes we need to do more complex in function, just gets more flexible.

e.g.  Inject env variable
[code]

in `build.js`

[code]

[2016-05-08 01:13] kentcdodds commented on #6
Ah, I see, here are two workarounds for you:

[code]

Then in `build.js`

[code]

Note: It's more common to use the `NODE_ENV` environment variable for things like this, but you could do something similar with a `BUILD` variable.

---

Or:

[code]

Let me know if you have any questions or if you feel like the documentation/examples could be updated to explain this use case better.

[2016-05-08 01:14] kentcdodds commented on #6
I'm starting to think though that implementing what you're suggesting may be a good idea... Not 100% on board yet. Let me know what you think of my work arounds.

[2016-05-08 02:03] rwu823 commented on #6
Thanks for reply so soon.

For the example 1:
[code]
I don't want to do this because `Object` syntax has better structure if in complex case not just exports as a string

Then the example 2:
Maybe good, is that supporting now?
[code]

[2016-05-08 02:08] kentcdodds commented on #6
I think that it could be helpful to have the functionality you suggest. Feel free to [makeapullrequest.com](http://makeapullrequest.com) :-)

[2016-05-08 02:08] sparty02 commented on #6
Would a property getter work here?

[2016-05-08 03:20] kentcdodds commented on #6
That should work! Let me know! If it does, could you add it to the examples file?

[2016-05-08 05:42] rwu823 commented on #6
`getter` cannot work for me

[2016-05-09 01:32] kentcdodds commented on #6
Well, feel free to [makeapullrequest.com](http://makeapullrequest.com) :-)

[2016-05-19 10:50] tim-mcgee opened #13 "Preload module option"
How about a command line option similar to avas or tapes --require so you can have Babel, Coffescript or Typescript config files.

package.json
[code]

package-scripts.js
[code]

command line
[code]

[2016-05-19 17:19] kentcdodds commented on #13
Yeah, that seems reasonable to me. I'm thinking that we could do something [here](https://github.com/kentcdodds/p-s/blob/bea8faab2bb0273220765780c6838a1f26195aa8/bin/p-s.js#L33):

[code]

That should do it.

Would you be willing to [makeapullrequest.com](http://makeapullrequest.com)? Please include tests :+1:

[2016-05-19 21:18] tim-mcgee opened #14 "Changing Unable to Find Config Log Level"
Scripts file (or at least the relevant bits):

https://github.com/kentcdodds/p-s/blob/master/bin/p-s.js#L60

The output:

[code]

Problem description:
Every time the config couldn't be loaded the scripts are always not working.

Suggested solution:
Rise the log level to error so p-s gets terminated earlier.

[2016-05-19 21:56] #14 closed

[2016-05-19 21:58] kentcdodds commented on #14
Your PR raised the log level, but doesn't terminate `p-s`, if you want to do that, you'll need to create another PR.

[2016-05-19 22:58] tim-mcgee commented on #14
I think it's something that's useful so I will create one.

[2016-05-20 14:05] #13 closed

[2016-05-21 02:53] tleunen opened #17 "Running the coverage in p-s reports package-scripts.js"
When I run my test command in p-s instead of npm scripts, the file `package-scripts.js` is displayed in my report, even if it's not part of the pattern glob of mocha.

- `p-s` version: 0.9.0
- `node` version: 6.2.0
- `npm` version: 3.8.9

The command executed:

[code]

The issue seems to be located when executing the second command. Because during the first command, if I changed `p-s test.suite` f

[2016-05-22 16:26] kentcdodds commented on #17
Hmmm, yeah, I'm not sure how to get around this. The fact of the matter is that were requiring that file, so `nyc` will instrument it for coverage. You'll have to exclude it yourself I'm afraid. Unless you can think of a way around this... PRs welcome.

[2016-05-22 16:26] #17 closed

[2016-05-23 02:30] tleunen commented on #17
Indeed, excluding the file will work. I thought there would be another way inside nyc to fix it but I have no clue to get around it :/ So I'll exclude the file, thanks.

[2016-05-24 12:42] tleunen opened #18 "Not all scripts are displayed in help"
- `p-s` version: 0.9.0
- `node` version: 6.2.0

Looks like not all scripts are displayed in the help section. I'm almost sure it's because the process ends before displaying everything.

It seems to be related to Node 6 though because the issue doesn't exist in Node 5.

[2016-05-24 12:51] tleunen opened #19 "Nested taks are not displayed properly in the help"
Inside the help section, the task list may be wrong.

If I have a few nested tasks, like:
[code]
With this example, it only display `x.y - build X-Y - do sth`

[2016-05-24 13:50] kentcdodds commented on #18
Could you verify your `p-s` version? Did you mean 0.9.0?

[2016-05-24 14:15] kentcdodds commented on #19
Would you be interested in investigating the problem and proposing a solution? The function in question is implemented [here](https://github.com/kentcdodds/p-s/blob/master/src/bin-utils.js#L106-L146) and tested [here](https://github.com/kentcdodds/p-s/blob/master/src/bin-utils.test.js#L88-L129).

[2016-05-24 14:22] tleunen commented on #18
yes sorry, I meant 0.9.0 :) (Fixed the original post)

[2016-05-24 14:34] kentcdodds commented on #18
I thought I'd fixed that. Thanks for bringing it up. Would you be interested in investigating the problem?

[2016-05-31 22:56] tleunen commented on #18
This is not an easy one, because the issue only occurs with Node 6 :/

[2016-05-31 23:14] tleunen commented on #18
See https://github.com/tj/commander.js/issues/530

[2016-05-31 23:14] #18 closed

[2016-05-31 23:27] #19 closed

[2016-06-08 17:19] jisaacks opened #22 "syntax errors in package-scripts.js should not be swallowed."
- `p-s` version: 1.0.1
- `node` version: 6.2.1
- `npm` version: 3.9.3

Problem description:

If there is a syntax error in the `package-scripts.js` (in my case for example a missing comma) then it will fail to load. However your error message swallows the syntax error and just says that it cannot find the `package-scripts.js` file which was confusing for me.

Suggested solution:

Basically when [c

[2016-06-08 18:34] kentcdodds commented on #22
Oh that's great! Yes, let's do that :+1: Thanks!

[2016-06-15 15:18] kentcdodds opened #24 "Support scripts with prefix names"
Given I have these scripts:

[code]

It is impossible for me to run the `things` script because the prefix resolver will resolve to the `things` script. This may be something that @rowanoulton needs to fix in [`prefix-matches`](https://github.com/rowanoulton/prefix-matches). This would be acceptable behavior:

1. `npm start thing` runs `thing`
2. `npm start t` runs `thing`
3. `npm start things` ru

[2016-06-16 16:23] kentcdodds opened #25 "Don't include `default` as one of the prefixable scripts"
Given these scripts:

[code]

If I run `npm start thing` it will run `thing.default` as expected/documented. Same if I run `npm start t` which is great. But if I want to run the `thing.dee` script, the best I can get with the prefix resolver is `npm start t.dee` because running `npm start t.de` will run the default script.

So I propose that we make a (breaking) change to exclude `default` from th

[2016-06-17 20:42] rowanoulton commented on #24
Hey, sorry for the delay on this one.

Interesting problem, perhaps I can look at giving direct matches precedence in `prefix-matches`. That sounds like it would solve the problem?

[2016-06-17 20:47] kentcdodds commented on #24
Yeah, that would solve 1 and 3, but not 2. What do you think about # 2?

[2016-06-27 13:17] tleunen opened #26 "Parallel taks are forwarded to the end command"
ERROR in multi main
Module not found: Error: Cannot resolve module 'build.test,build.staging,build.edge'

- `p-s` version: 1.0.2
- `node` version: 6.6.1

The command executed:

[code]

The output:

[code]

Problem description:
My build command run webpack to build a bundle file for my project. But when running `npm start -p build.x,build.y`, it appends the parallel commands to webpack and produce

[2016-06-27 13:35] kentcdodds commented on #26
Thanks for the report!

Hmmm... Very interesting. If you'd like to dig, [here's](https://github.com/kentcdodds/p-s/blob/367f2747491d15fa5c89633d29fa1e163bd0d138/src/bin-utils.js#L59-L70) where we exclude p-s flags from the args that are forwarded on to the scripts.

[2016-06-27 18:13] tleunen commented on #26
Thanks, I'll take a look :)

[2016-06-28 20:33] tleunen commented on #26
@kentcdodds When running `npm start -p this,that`. `program.parallel` is undefined in `getScriptsAndArgs`.

[2016-06-28 20:37] tleunen commented on #26
Oh I see...

`npm start -p this,that` is executing `p-s "this,that"`.. So the parallel option is gone. I guess npm takes it as an option instead of p-s :/

So I'm now using `npm start -- -p this,that` which resolve the issue.

Closing the ticket, unless you know of a "fix"?

[2016-06-28 20:37] #26 closed

[2016-06-28 20:50] kentcdodds commented on #26
Ah, yep, that's the solution. Do you think we could/should add something to the docs as a common pitfall?

[2016-06-29 13:50] tleunen commented on #26
Might be useful to add a note for it when using `npm start` instead of `p-s`. In my case, I'm using `npm start` because it's part of a build system. And using `p-s` is not possible. Using `./node-modules/.bin/p-s` fails to run sub-commands because `p-s` is not found.

[2016-06-29 15:05] kentcdodds commented on #26
Actually, the recommended use is to use `npm start`, but to put the scripts to be run in `package-scripts.json`. So generally you'd put the script you're trying to run in the `package-scripts.json` like [this](https://github.com/kentcdodds/p-s/blob/367f2747491d15fa5c89633d29fa1e163bd0d138/package-scripts.js#L43). Also, I think the thing that caused confusion is a fundamental misunderstanding of ho

[2016-06-29 15:19] tleunen commented on #26
Oh I see, you mean having a simple script which will run my tasks in parallel. Yep I could do that too.

And yes, sorry for the typo. What I mean though was that if I manually run `./node_modules/.bin/p-s this` and then `this` also run `p-s that`, the second command fails because p-s is not available. But that's expected I guess ;)

[2016-06-29 15:27] kentcdodds commented on #26
Ah, I see what you're saying. Yeah, basically the way that `p-s` works is it spawns a script with the same `process.env` as the current environment. So if the currently `PATH` doesn't include `node_modules/.bin` then the spawned script wont have it either. I suppose that `p-s` could explicitly add `node_modules/.bin` to the `PATH`. I'll create an issue for discussion about that.

[2016-06-29 15:28] kentcdodds opened #27 "feat request: Explicitly add node_modules/.bin to PATH"
See [this comment](https://github.com/kentcdodds/p-s/issues/26#issuecomment-229389943). I could see value in explicitly adding `node_modules/.bin` to PATH so this behaves more like normal npm scripts.

I'm open to suggestions/ideas/alternative opinions.

[2016-07-04 13:11] tleunen opened #28 "p-s autocomplete in zsh"
I'm using [prezto](https://github.com/sorin-ionescu/prezto) and it has an autocomplete for `npm run` commands. It would be great to have the same for `p-s` or `npm start` when p-s is used.

Does someone has some experiences writing something like that? :)

[2016-07-05 17:20] kentcdodds commented on #28
I don't have experience with this, but it'd be totally awesome to get this! Might be a bit tough because technically the scripts can be dynamic. But should be doable for most use cases.

[2016-07-05 17:48] SamVerschueren commented on #28
[Omelette](https://nmotw.in/omelette/) might be able to do that.

[2016-07-06 15:10] tleunen commented on #28
Because commands have to start with `npm start`, I'm not sure if we could use omelette to bind the auto completion on `npm` since users might already have an auto completion feature for npm :s

[2016-07-06 19:51] kentcdodds commented on #28
Hmmm, maybe soo :-(

[2016-07-09 20:53] kentcdodds opened #31 "Write e2e tests"
As suggested by @nkbt in #30. Maybe we could use [`nixt`](https://github.com/vesln/nixt).

[2016-07-09 21:08] nkbt commented on #31
I'll take it. Want to try nixt as it looks pretty sick. Hopefully will get some base tests out later today

[2016-07-09 21:09] kentcdodds commented on #31
Sweet. I've never used nixt. Looking forward to what you come up with!

[2016-07-10 12:46] nkbt commented on #31
Hm nixt does not seem to work properly for me. Spent a bit of time with it, but no luck yet.

https://github.com/vesln/nixt/issues/16

Maybe I will go with bash then for the moment, or look for some nicer alternative... Not today tho

[2016-07-10 13:46] kentcdodds commented on #31
Cool. See if you can make it work cross-platform so we don't shut out windows users.

[2016-07-10 13:49] nkbt commented on #31
That might be a concern, though I expected to run e2e on CI to begin with. Generally I doubt it is possible to do completely cross-platform CLI testing, since shell scripts will be running in background anyway =(.

[2016-07-10 13:52] kentcdodds commented on #31
Makes sense. I think we're OK if it's only running in CI

[2016-07-11 22:02] nkbt commented on #31
Since nixt is not really working and writing shell scripts at home on my Windows was not an easy option, I  fixed a [cli-tester](https://npm.im/cli-tester). Not particularly a rocket science thingy...

Had some fun making it work smoothly on all Node versions down to 0.10 (so it is ok with `p-s` matrix build).

Welcome =)

[2016-07-12 05:36] kentcdodds commented on #31
Cool! Looking forward to seeing the pull request!

[2016-07-12 21:30] tleunen opened #33 "Default root script"
Would you be willing to allow a default root script in order to be able to run the script with just `npm start`, or `p-s`?

[code]

[2016-07-12 21:53] kentcdodds commented on #33
I could see that being valuable. In that scenario, how do you propose to show the `help`?

[2016-07-12 22:13] kentcdodds commented on #33
Yeah, I agree that this would be a good thing to add. Let's do it as you've said :+1:

1. If there is no `default` script, then show help
2. If there's a `default` script, then run that (don't show help)
3. If someone provides `--help` (only) then don't run any scripts and just show help (this means that `npm start foo -- --help` would not log help and run `foo`).

Sound good?

[2016-07-12 23:01] kentcdodds commented on #33
Because this is a breaking change, whoever makes the PR for this feature, please make it to the [`next` branch](https://github.com/kentcdodds/p-s/tree/next) so we can get a few breaking changes in a single release.

[2016-07-12 23:01] kentcdodds commented on #25
Because this is a breaking change, whoever makes the PR for this feature, please make it to the [`next` branch](https://github.com/kentcdodds/p-s/tree/next) so we can get a few breaking changes in a single release.

[2016-07-12 23:01] kentcdodds commented on #24
Because this is a breaking change, whoever makes the PR for this feature, please make it to the [`next` branch](https://github.com/kentcdodds/p-s/tree/next) so we can get a few breaking changes in a single release.

[2016-07-12 23:04] kentcdodds commented on #6
Hmmm... I've actually decided that this overcomplicates the `p-s` API and I don't want to do that. So I'm going to close this one.

[2016-07-12 23:04] #6 closed

[2016-07-12 23:40] nkbt commented on #33
Good idea

[2016-07-25 21:41] kentcdodds opened #35 "Add init script"
It'd be awesome to have an init script that read the `package.json` scripts and transferred them to a `package-scripts.js` and update the `scripts` in `package.json` to use the recommended `start` script.

[2016-07-26 17:46] #25 closed

[2016-07-26 17:46] #27 closed

[2016-07-26 17:46] #35 closed

[2016-07-26 17:46] #33 closed

[2016-07-26 22:12] nkbt opened #40 "Callback called more then once in Appveyor builds"
- `p-s` version: 2.0.0, 2.0.1, 2.0.2
- `node` version: 5.2.0
- `npm` version: 3.3.12

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:
^ error

Suggested solution:
Have not debugged that yet
See https://ci.appveyor.com/project/nkbt/react-text-filter/build/14

[2016-07-26 22:13] nkbt commented on #40
greenkeeper + CI === ❤️

[2016-07-26 23:13] kentcdodds commented on #40
Let me know if there's something I can do to help you debug this.

[2016-07-27 00:16] nkbt commented on #40
I'll debug it today at home on my Win machine, will see how it goes. Since `react-component-template` had green build there is something to do with running `p-s` with config from `node_modules/react-component-template` (failed on all projects that depend on my template)

[2016-07-27 00:17] nkbt commented on #40
I reckon it could be something to do with `find-up`

[2016-07-27 02:56] tleunen commented on #28
I have been thinking about this recently and I believe there's no real solution.

Because we use `npm start xxxx`, we should have a way to dynamically populate the autocomplete for `npm`, but this is already done by `npm` itself so we can't do that afaik.

If `p-s` is installed globally, this should be possible though. We can create a `p-s --autocomplete` that will return the list of available com

[2016-07-27 03:00] kentcdodds commented on #28
We could easily create a `ps` global :) I'm thinking it'd be best as a separate package called `ps-autocomplete` or something and it'd install a `ps` binary which people could use. I think this would be awesome 👍

[2016-07-27 03:06] tleunen commented on #28
The thing is... We can't use `ps`. It's already used for the `process status` :/

[2016-07-27 03:11] kentcdodds commented on #28
doh!

[TwtXMS5EnKDBK](https://camo.githubusercontent.com/36ac409811395a45ea5a23fbf6c2a61ebbeafb68/68747470733a2f2f6d65646961322e67697068792e636f6d2f6d656469612f547774584d5335456e4b44424b2f67697068792e676966>)

How about `nps`...?

[2016-07-27 03:17] tleunen commented on #28
Could do the job I think. I don't know anything that already uses `nps` ;-)

[2016-07-27 03:32] tleunen opened #41 "Filter the help list?"
Would it be a good idea to have a way to filter the help list, like listing only the scripts which contains a description, or adding a flag "private" and filter them out?

I don't know if it's the right way to do it, but I have a few tasks without description because I treat them as "private", so the developer is not supposed to directly run them.

[2016-07-27 03:42] kentcdodds commented on #41
I think I'd be ok to allow a `private: true` property on script objects. 👍

[2016-07-27 13:26] nkbt commented on #40
I found what the issue was, fixed my `react-component-template`. It is strange really, worked fine before as far as I know...

https://github.com/nkbt/react-component-template/commit/b9818256a72a74738fc5c7fb3d960026d0cbd205

That was the change.

[2016-07-27 13:26] #40 closed

[2016-07-27 13:29] kentcdodds commented on #40
Huh... Quite odd. I'm not certain why that change would be necessary :-( I wish there were at least some caveat we could add in the README or something....

[2016-07-27 13:31] nkbt commented on #40
Yeah, have no idea. It is quite an edge case, no need to add anything to readme.

[2016-07-27 15:32] kentcdodds commented on #41
I'm thinking that it'd be better for this to be more explicit. Rather than `private`, I think `hideFromHelp` would be better. Thoughts? 💭

[2016-07-27 15:42] tleunen commented on #41
To be honest, I don't really know what would be the best way.
Having a way to hide them from the help because "you should not use it" is nice.
But should it be also removed from the "list of tasks" we can trigger? In other term, should it be just hidden or really "private" in a sense it's impossible to trigger it outside of the internal p-s?

As an example, I have a task to copy files. The main co

[2016-07-27 16:05] kentcdodds commented on #41
Hmmm... I feel like doing what you're suggesting would overcomplicate `p-s`. I really want to avoid making it overly complex. The more people have to learn about `p-s`-specific behavior, the less happy I'll be.

I'm willing to have a `hidden` property. I think that's pretty straightforward. But anything else is probably too much...

You might consider composing your scripts a little differently. S

[2016-07-27 16:10] tleunen commented on #41
But then you loose the parallelism.

But I agree, having just a `hiddenFromHelp` field would already be a lot better to avoid complicating the lib :)

[2016-07-27 16:12] kentcdodds commented on #41
Very good point. I think that `hiddenFromHelp` is the most I want to do at this point. Alternatively, you could create a separate, parameterized script that does the stuff in parallel (and you could open source that and use it with `p-s`). I think we can agree that we've bumped into the edge of the scope of `p-s` :)

[2016-07-27 21:24] kentcdodds opened #42 "Feat: Run multiple scripts in series"
As indicated on the [ROADMAP.md](https://github.com/kentcdodds/p-s/blob/5efa68bcf61513d2751200854e7c7643fb84a31a/other/ROADMAP.md) under "Want to do":

Let's implement that. I'm going to work on it right now.

[2016-07-27 21:36] tleunen commented on #42
How do you plan to do it?
Currently, I'm using an array with a join to keep it "clean".
Like this:
[code]

[2016-07-27 21:37] kentcdodds commented on #42
Nice solution! I was planning on just doing the same thing we do with `parallel`:

parallel:

[code]

series:

[code]

[2016-07-27 21:42] tleunen commented on #42
Yep, so if one of the task is not a "p-s" task, my array would still be required ;) But this is still a nice addition to match the current parallel "api"!

So doing something like this:
[code]

[2016-07-27 21:43] tleunen commented on #42
Unless we set everything as a p-s task, but then it comes back to the other thread where having "private" tasks could also be a nice addition then :p

[2016-07-27 21:44] kentcdodds commented on #42
;-)

[2016-07-27 22:03] #42 closed

[2016-07-27 22:04] kentcdodds commented on #42
Whoops! Just realized I didn't make a PR for this one. I would have liked you to review it @tleunen. Do you mind looking at [the commit](https://github.com/kentcdodds/p-s/commit/715f7405455daa88ad80e37b5ca788097fbd2f2e)? I can fix stuff if you feel like it could be improved.

[2016-07-27 23:54] tleunen commented on #42
Looks fine to me ;)

[2016-07-28 04:44] boneskull opened #43 "--help tosses exception"
reproduce

[code]

[2016-07-28 04:52] boneskull commented on #43
Actually ..huh.  I can't run `p-s` from `p-s`.

[2016-07-28 04:54] boneskull commented on #43
OK, so if I remove my custom `--config .package-scripts.js`, it works fine.

[2016-07-28 04:55] boneskull commented on #43
(The `--help` is still a problem, however.)

[2016-07-28 12:32] AlicanC opened #44 "This project doesn't solve any problems"
Compare these two examples:
[code]

[code]

While p-s is supposed to help, it actually introduces more bloat by adding another file with a lot more lines and the configuration is hardly maintainable.

If you Flow-typed the configuration it would look something like this:
[code]

You can tell that it will be hard to maintain by the type of `ScriptNest`. Values of it's properties can be any of the t

[2016-07-28 13:46] tleunen commented on #44
Just because `p-s` allows to have a description, it's already a problem solver for me.

When you have a project with a lot of tasks, and then a new person joins your team, having a description is really good to quickly explain the reason of a task and what it does without reading the scripts.

[2016-07-28 13:46] #44 closed

[2016-07-28 15:45] AlicanC commented on #44
@tleunen interesting. I guess we are lucky that no newcomers in our company needed such help (or maybe our scripts are simple and don't even count). Could you point me to a project where p-s really shines as a tool that helps newcomers? I really want to understand your situation since I am the guy who introduces people to JS stuff in my company.

Could you also share some thoughts on the other two

[2016-07-28 15:46] kentcdodds commented on #43
I was able to reproduce this. The problem is that `p-s` is unable to find your `package-scripts.js` file. Here's a minimal example of it working:

[code]

If you want a custom config:

[code]

I think though that we should probably fix the underlying issue. Would you be interested in [making a pull request](http://makeapullrequest.com)? The code in question starts [here](https://github.com/kentcdo

[2016-07-28 16:14] kentcdodds commented on #44
I've updated the video with an annotation indicating that you shouldn't actually use the aliases in your `package-scripts.js` configuration. I agree with you that it's better to be hard coded and only really used when you're running scripts yourself.

As for everything else you talked about, feel free to disagree and not use this project. But please don't be rude. Just because you don't think it's

[2016-07-29 01:42] nkbt commented on #44
Tis is the funniest Issue I've seen so far.
Much ❤️

[2016-07-29 18:54] kentcdodds commented on #28
Dah! I forgot to make a PR for this, but [it was pretty small](https://github.com/kentcdodds/p-s/commit/f01ab0d29c706be7860a077dd896583ff3c29cf5). This is only the first phase. I think we can actually use omelette for this now. I'm going to work on it now.

[2016-07-29 22:03] kentcdodds opened #47 "Feat: Improve help output"
1. Output the `default` script if it's present (put it at the top and highlight it)
2. At the top, we should also list docs for the other commands (like `help` (if they don't have a help script), `init`, and `completion`)

Thoughts? 💭

[2016-08-22 12:58] tleunen opened #48 "Should p-s stop executing commands when an error occurs?"
I wonder if p-s should stop the execution when an error occurs when executing multiple commands (in parallel or not).

Any thoughts?

Especially when p-s run a command and then the second command depends on the first one...

[2016-08-22 13:24] kentcdodds commented on #48
Yes it should. I thought about this just recently. I'm happy to accept a pull request to do this!

[2016-08-28 09:05] boneskull opened #49 "p-s v2.4.0 fails to install"
looks like `dist/` didn't get published, if I had to wager a guess:

[code]

[2016-08-28 09:07] boneskull commented on #49
(I'd send a PR to fix this, but I'm unfamiliar with `semantic-release`)

[2016-08-28 09:16] #49 closed

[2016-08-28 09:21] kentcdodds commented on #49
Let me know if that didn't fix it in 2.4.1.
Sorry about that. I messed something up and had to release locally which I don't do often and I guess I forgot to run the build!

[2016-08-29 16:06] #43 closed

[2016-08-29 16:08] kentcdodds commented on #28
I'm going to go ahead and close this one. Please file new issues if you have trouble with `p-s completion`

[2016-08-29 16:09] #28 closed

[2016-08-29 16:24] kentcdodds commented on #48
I think I'd like to get [this](https://github.com/mysticatea/npm-run-all/issues/59) done before working on this.

[2016-08-29 16:41] #31 closed

[2016-08-29 16:47] kentcdodds commented on #41
To be clear, I'm good to accept a PR that adds a `hiddenFromHelp` property to a script object as discussed. 👍

[2016-09-01 23:55] boneskull opened #50 "passing args isn't working as advertised"
using 2.4.3 in Node.js 6.4.0:

[code]

Now, passing an argument:

[code]

To get it to work, I have to do this:

[code]

[2016-09-02 00:12] kentcdodds commented on #50
Yeah, this is a limitation of npm scripts. Could you make a pull request to fix anywhere where we advertise otherwise?

[2016-09-04 15:56] #48 closed

[2016-09-05 00:53] Hypercubed opened #54 "Windows command line interprets package-scripts as launching package-scripts.js"
## Problem description:

Due to a little-known feature, at least to me, on windows, executing `package-scripts` from the `cmd` prompt or from npm scripts (even in Cygwin) causes the `package-scripts.js` file to be opened in the default application for `.js` files. [see here](https://github.com/gruntjs/grunt/issues/71).

## Suggested solution:

* Update documentation to only suggest using `p-s`. [e

[2016-09-05 00:58] kentcdodds commented on #54
Interesting! I like the idea of renaming `package-scripts.js`. could you make a PR?

[2016-09-05 00:59] Hypercubed commented on #54
What do you suggest as a new name?

[2016-09-05 01:00] kentcdodds commented on #54
So it just needs to have `.js` removed right? So `package-scripts` should work right? Can we do this is a way that's not breaking?

[2016-09-05 01:05] Hypercubed commented on #54
Just need the script base name to not collide with the command.  I guess this is why they use `gulfile.js` and `gruntfile.js`.  We could use `p-s-file.js` or similar.  Could add the new filename as an alternative.

The fact that this has never come up before suggests not many people have this issue.  I was surprised.  Simply suggesting `p-s` over `package-scripts` may be enough.

[2016-09-05 01:12] kentcdodds commented on #54
Oooohhh, I see... Hmmm... What do think? I like the idea of an alternative for now and maybe a deprecation warning to make it not breaking.

How about: `package.scripts.js`?

[2016-09-05 19:15] kentcdodds commented on #54
I'm thinking about renaming the who project to `nps`. So, the binary would be `nps` with no variants, and the file would be `npsfile.js`

Thoughts?

[2016-09-05 20:46] kentcdodds commented on #54
What do you think of #55?

[2016-09-06 15:06] sxn commented on #24
How about sorting the matches alphabetically? Right now if I run prefix-matches with
[code]
I will get back ```[{ script: 'foobar' }, { script: 'foo' }]```. If [https://github.com/rowanoulton/prefix-matches/blob/master/prefix.js#L29](matches) would just be sorted alphabetically, the result would be ```[{ script: 'foo' }, { script: 'foobar' }]```, which is fine because [https://github.com/kentcdodd

[2016-09-06 20:23] kentcdodds commented on #24
Yeah, I'm honestly not sure what to do about this. It's a little tough. If you think that it'd be an improvement this way then I'm happy to discuss it. I'd like to get some solid test cases/docs to get a good idea of how this works. Thanks!

[2016-09-06 21:07] #41 closed

[2016-09-06 21:10] kentcdodds commented on #41
Woot! Thanks @sxn. Hopefully this helps clear things up for you @tleunen :)

[2016-09-06 21:21] sxn commented on #24
I'm...also not sure. On the one hand just adding a ```.sort()``` to ```prefix.js``` would bring the specified behaviour. On the other hand I'm not sure if that change is needed or, indeed, wanted in that repository?

Another question is: have you (or anyone else) encountered this limitation in your workflow? I tend to not have similarly named scripts, and whatever examples I could come up with off

[2016-09-06 21:30] kentcdodds commented on #24
Actually, another thing to consider would be maybe retrofitting my new [match-sorter](https://github.com/kentcdodds/match-sorter) to work with this. All I think it would take is the ability to configure it to treat `.` and `-`as word separators and we'd probably be good... Though that might be a little much................. Yeah... Probably.

[2016-09-06 22:00] sxn commented on #24
Maaaaaaybe a bit much :smile:

[2016-09-06 22:17] #24 closed

[2016-09-07 22:27] tleunen commented on #41
Awesome, thanks @sxn :)

[2016-09-08 17:03] kentcdodds commented on #54
I'm thinking of either doing:

- rename `package-scripts.js` to `package-scripts.config.js`
- rename `package-scripts.js` to `package.scripts.js`
- remove the `package-scripts` alias

Thoughts?

[2016-09-08 23:29] Hypercubed commented on #54
Astestically speaking I don't like the dot seperators.  I'd personally psfile.js or p-sfile.js. But we should ensure this isn't conflict with other tools.

Deprecating the package-scripts alias should be good.  Since the npm name is p-s I assume that is what most people are using.  I think I was using the long version because that is what is shown here:  https://www.npmjs.com/package/p-s#this-solu

[2016-09-09 03:47] elijahmanor commented on #54
I like the `package-scripts.config.js` solution as mentioned in #55 along with the `nps` alias. Kudos for @Hypercubed noticing the issue on Windows 👍

[2016-09-09 03:49] kentcdodds commented on #54
I was thinking though... It's not really a config is it? Hmmm... I'm just not feeling great about any solution... I'm leaving toward removing the `package-scripts` alias. That'd be the most straightforward change I think...

[2016-09-09 03:51] elijahmanor commented on #54
Good point @kentcdodds... it isn't a config, they are scripts! Removing the alias sounds legit. That'd be a breaking change since some might be using the alias already, but I think that is okay.

[2016-09-09 03:55] kentcdodds commented on #54
Yeah, this'll push us to 3.0.0

Anyone want to file that PR? Should be pretty simple

[2016-09-09 04:44] Hypercubed commented on #54
How about deprecating for a while?  I imagine most users are using `p-s` and/or not on windows.  Just update the docs to remove `package-scripts` references and add a warning that `package-scripts` is going away.  Not a breaking change.

Of course, if they see the warning that means they are not impacted by this issue!

[2016-09-09 04:45] elijahmanor commented on #54
@kentcdodds I'm up for it, but I'm about to goto bed and am preoccupied tomorrow night. If anyone wants to take it before then feel free... otherwise I'll pick it up around Monday.

[2016-09-10 18:45] sxn commented on #54
I'll do it now if y'all are alright with that :)

[2016-09-14 15:54] kentcdodds opened #61 "help command for specific scripts"
It'd be super cool to be able to do:

[code]

Which would result in the `lint` script itself as well as the description being shown in the output.

This would be helpful in situations where you have many scripts.

[2016-09-16 09:00] janryWang opened #62 "script could support function?"
like this
[code]

[2016-09-16 12:06] kentcdodds commented on #62
Hi @janryWang,
That's actually something that I've explicitly called out in [the roadmap](https://github.com/kentcdodds/p-s/blob/master/other/ROADMAP.md) that I wont do:

Thanks!

[2016-09-16 12:06] #62 closed

[2016-09-16 16:21] janryWang commented on #62
Thx @kentcdodds ,
But , do you have any time schedule?

[2016-09-16 16:22] kentcdodds commented on #62
Sorry, to be clear, I will _not_ be adding this feature to `p-s`. Please see the Roadmap for an explanation for why.

[2016-09-16 16:27] janryWang commented on #62
Okay. thx

[2016-09-18 21:37] sxn commented on #54
So I guess this is not an issue anymore?

[2016-09-18 21:39] kentcdodds commented on #54
Yes! As of 3.0.0, this is no longer an issue. Thanks for bringing it up :)

On Sun, Sep 18, 2016 at 4:37 PM Sorin Muntean <notifications@github.com>
wrote:

--
- Kent C. Dodds <https://twitter.com/kentcdodds>

[2016-09-18 21:39] #54 closed

[2016-09-18 22:00] sxn commented on #61
What should happen if a user defines a ```help``` script in their ```package-scripts.js``` file?

[2016-09-18 22:01] sxn commented on #54
great! :dancer:

[2016-09-18 22:02] kentcdodds commented on #61
It will run that `help` script when they run `nps help`. If they want to
see the help, they can always run `nps --help`.

On Sun, Sep 18, 2016 at 5:00 PM Sorin Muntean <notifications@github.com>
wrote:

--
- Kent C. Dodds <https://twitter.com/kentcdodds>

[2016-09-26 06:21] bfred-it opened #63 "Support YAML config"
It'd be nice if p-s supported YAML configuration alongside the JS one

CommonJS files are slightly easier to read/write than JSON, but JS objects are still full `'{"\,}`

[code]

in YAML it would just be

[code]

Plus, even the syntax highlighter is nicer to YAML :P

YAML isn't dynamic like JS, but probably most people don't use that (and if they do, they can just use the standard CJS syntax)

[2016-09-26 12:05] kentcdodds commented on #63
I'd be ok with that. Mind filing a PR?

[2016-09-26 12:24] bfred-it commented on #63
I can try, but not this week

[2016-09-26 13:34] kentcdodds commented on #63
Sounds good to me. Let me know if you need a hand.

[2016-09-26 19:22] sxn commented on #63
I may have time to look into it this week too, if needed. 😄

[2016-09-26 19:24] kentcdodds commented on #63
I'm sure that @bfred-it would appreciate it :) It's unlikely that I'll work on this.

[2016-09-30 14:01] #63 closed

[2016-09-30 14:01] sxn commented on #63
:shipit:

[2016-09-30 16:24] bfred-it commented on #63
Looks great!

I was wonder though why that extra `script:` level was necessary, that's why I didn't include in my example

[2016-09-30 16:25] kentcdodds commented on #63
Yeah, it's so you can specify `options` :)

[2016-09-30 16:32] bfred-it commented on #63
Duh! Didn't even notice that. Thanks!

[2016-09-30 16:38] sxn commented on #63
Yeah, sorry for doing that without asking! Initially I implemented it _without_ the scripts level, but that felt a bit off.

As a side note: would it make sense to make it so that the `init` script can create a `package-scripts.yml` file too?

[2016-09-30 16:45] kentcdodds commented on #63
Oh yeah, great idea! Feel free to file an issue for that :+1:

[2016-09-30 16:52] sxn opened #66 "Allow initializing to a YAML file"
Currently, users who want to start using `p-s` in an existing project can hit the ground running by using `nps init`. This will generate a `package-scripts.js` file from their `package.json` file and update the latter to utilize the `nps` binary.

Since we now have YAML config support (#64), it would be great if `nps init` would allow generating a `package-scripts.yml` file as well.

What about `n

[2016-09-30 16:58] kentcdodds commented on #66
That API you're suggesting looks good to me :)

[2016-09-30 18:11] bfred-it commented on #66
Given how terse and readable YAML is, would it make sense to make it the default/preferred version? In the docs, in the init and in the default config lookup

[2016-09-30 18:44] kentcdodds commented on #66
Yeah, though one of the main reasons I built `p-s` is so I can have dynamic scripts. I'll probably always use the module version personally.

[2016-09-30 19:45] sxn commented on #66
While I agree with the readability point, I'm a bit afraid making the YAML version the default would undermine the purpose of the project - for the exact reason that @kentcdodds provided.

[2016-10-03 22:35] DavidWells opened #67 "Idea: Add pre/post commands"
I miss this from npm scripts =)

What is it was implemented like so?

[code]

[2016-10-03 22:42] kentcdodds commented on #67
One thing I'd be worried about is people would expect things to work the same way that normal lifecycle hooks work (like `install`). So someone may try to make a `prepublish` script expecting it to run when they run `npm publish` but it wouldn't. Any ideas of how to combat that?

[2016-10-04 19:16] kentcdodds opened #69 "add eject command"
Lots of people want to be able to try out `p-s` for a while to evaluate it. Just like we have an `init` command that'll allow you to initialize the `package-scripts.js` and update your `npm scripts` in `package.json`, I think we should have an `eject` command that will do the reverse.

[2016-10-04 19:45] #66 closed

[2016-10-04 19:53] kentcdodds opened #70 "Move to yargs"
Commander is cool and all, but there's some hacky things we have to do to get our CLI to do what we want. It'd be sweet to use [yargs](https://github.com/yargs/yargs) which is much more flexible.

All changes should happen in [here](https://github.com/kentcdodds/p-s/blob/master/src/bin/nps.js). Should hopefully be able to just use it similar to how I've used it in [split-guide](https://github.com/

[2016-10-04 20:09] sxn commented on #70
That's a pretty solid starting point! 👍
Some things that should change [here](https://github.com/kentcdodds/p-s/blob/master/src/bin-utils/index.js#L89) as well, from the looks of it, right?

[2016-10-04 20:11] kentcdodds commented on #70
Yes, probably so...

[2016-10-04 20:45] DavidWells commented on #67
Hmmmm perhaps for odd cases like that we `console.log` a warning if they have one of 'wierd' npm script commands.

`warning 'commandXYZ' won't run like npm scripts. See issue [link to long npm github thread] `

I can't remember which work not how you'd expect. I'm sure you do though =)

[2016-10-04 21:21] nkbt commented on #70
I actually found `nomnom` to be the best. Just in case you've never heard of it http://npm.im/nomnom

[2016-10-04 21:33] kentcdodds commented on #70
I've never used `nomnom`, but I have used `yargs` and liked it pretty well. It's also much more widely used. I think I'd like to stick with that one personally. What do you think @sxn?

[2016-10-05 15:13] kentcdodds commented on #67
Hmmm, that could get really annoying. Let's just document it and let people do whatever you want. I'm good to accept a PR for this. The relevant code is [here](https://github.com/kentcdodds/p-s/blob/master/src/index.js#L30) and [here](https://github.com/kentcdodds/p-s/blob/master/src/index.js#L40). I think that we should probably have an intermediary function that we call there which will look up

[2016-10-06 19:29] sxn commented on #70
Hm. Actually I hadn't played around with either of those, so I can't form an informed opinion. I'll briefly look into both before diving in and come back. Without looking into them I'd probably choose {{yargs}} just because there would be at least one person who knows this codebase *and* the library we'd be introducing. :D

[2016-10-25 10:59] gunnx opened #73 "Indent child task descriptions when running help command"
- `p-s` version: 3.0.1
- `node` version:  6.9.1
- `npm` version:  3.10.8

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:
Tasks that are namespaced do not render out indented.

Suggested solution:
Output any nested tasks with spaces to indicate they are children of parent task

[2016-10-25 16:16] kentcdodds commented on #73
Hi @gunnx! Thanks for the issue. I'd be good with that! Would you like to [makeapullrequest.com](http://makeapullrequest.com)?

[2016-10-26 11:52] gunnx opened #74 "Hidden scripts error when trying to run"
- `p-s` version: 3.0.1
- `node` version:  6.9.1
- `npm` version:  3.10.8

Scripts file (or at least the relevant bits):

[code]

Config extract:

[code]

The command executed:

[code]

The output:

[code]

Problem description:
Assume that the expected behaviour of flag `hiddenFromHelp` is to only remove it from the help list and not stop you running.

Suggested solution:
Not sure I fully understan

[2016-10-26 13:45] kentcdodds commented on #74
Ah, yes that's definitely a bug. If you'd like to work on a fix, I'd be happy to help you with it. On my phone right now and about to board a plane, but if you need help, I can give you more direction later. Feel free to poke around and check-out CONTRIBUTING.md

[2016-10-26 14:17] gunnx commented on #73
Ok will give it a try!

[2016-11-04 21:44] #74 closed

[2016-11-04 21:44] #73 closed

[2016-11-11 04:09] martellaj opened #78 "`npm start validate` fails after initial clone"
- `p-s` version: latest from master
- `node` version: 6.5.0
- `npm` version: 3.10.3

The command executed:

[code]

The output:

[code]

Problem description:
Interested in digging into the code a bit. Followed instructions in your CONTRIBUTING, but getting failures before I've even opened my IDE.

[2016-11-11 04:15] martellaj commented on #78
I'm not familiar with Jest, but it looks like test in question failed... the wrong way.

Received value does not match the stored snapshot 1.

    - Snapshot
    + Received

      Object {
    -   "stderr": "Unable to find JS config at "./something-that-does-not-exist.js". Attempted to require as "<projectRootDir>/cli-test/fixtures/something-that-does-not-exist.js" https://github.com/kentcdodds/p-

[2016-11-11 04:26] martellaj commented on #78
So really the issue is with the `test.cli` script which `validate` script calls because the bug is in the missing config test in *cli.test.js*. I'd suggest keeping the issue title as is in case anyone else who tries to contribute has a similar issue.

[2016-11-11 04:44] kentcdodds commented on #78
Actually, the reason for this bug is I forgot to push a change I have locally to the version in the package.json. it should be `0.0.0-semantically-released`. I'll have that sized soon

[2016-11-11 04:49] martellaj commented on #78
If you're interested, I actually went ahead and implemented a different fix such that you can keep your version number in **package.json**. I'll leave it up to you to reject or not. Thanks, Kent!

[2016-11-11 05:48] #78 closed

[2016-11-12 05:32] martellaj commented on #69
Hey, Kent. I started taking a look at this feature tonight. Question for you on the format of `package-scripts.js`. Are *script*, *watch*, and *default* reserved keywords and the only properties that will actually have scripts as values?

[2016-11-12 05:59] kentcdodds commented on #69
Hi! Thanks for looking at it. Actually, the only reserved properties are: `default`, `script`, `description` and `hiddenFromHelp`. Scripts are pretty much any property that is a string at any level of the scripts object in the config file. `description` should always be a string (so it shouldn't have nested scripts of its own and `hiddenFromHelp`should always be a boolean (so the same applies).

L

[2016-11-15 18:57] msegado opened #80 "Possible error in readme (npm run start === nps)"
- `p-s` version: 3.0.3
- `node` version: 6.9.1
- `npm` version: 3.10.8

Scripts file (or at least the relevant bits): N/A

The command executed:

[code]

The output:

[code]

Problem description:

The README claims that `npm run start` is equivalent to `nps`:

this. For example:

However, this does not appear to be true (at least in my version of npm)... the only built-in start alias I'm aware of

[2016-11-15 19:52] #80 closed

[2016-12-20 21:15] kentcdodds opened #82 "Set up all npm environment variables"
If you run `npm run env` it'll show you all the environment variables that npm creates for you. It'd be handy to include those in the environment for the script that's run so there are fewer surprises when migrating from npm scripts to p-s, also, it can be handy in general :)

[2016-12-30 16:01] rrag commented on #67
@kentcdodds

I agree

I want to sign up for this, but here is a change I wish to propose. Thoughts?

[code]

[2017-01-06 17:21] erikfox opened #85 "Idea: Prefixes for scripts"
## This is bad:
[code]
👎  Serious need of DRYing
👍  1:1 for script methods = easy reading

## Current solution barely better:
[code]
👎  Looks incredibly messy the more it occurs
👎  Uses up `script.default`, which I often use to auto-print help

## This would be great:
[code]
👍 Very DRY!
👍 Keeps default free!
👍 1:1 relationships!

Would be cool too:
[code]

Just wanted to have a feasibility discuss

[2017-01-06 18:22] kentcdodds commented on #85
Thanks for the feedback. I think that this is out of scope. I believe that it makes things more complex even if it reduces the amount of characters you have to type (and makes things more "DRY")

If you really want to make things more dry, you could write things in JavaScript:

[code]

Which results in:

<img width="469" alt="screen shot 2017-01-06 at 11 20 38 am" src="https://cloud.githubusercont

[2017-01-06 18:22] #85 closed

[2017-01-06 19:10] erikfox commented on #85
Those are good points. Thanks for quick response! @kentcdodds

[2017-01-10 00:08] beeman opened #86 "nps init should ask if you want to override an existing package-scripts.js"
First of all thanks for creating this great utility. It makes my work a lot easier :)

- `p-s` version: 3.0.3
- `node` version: v7.2.0
- `npm` version: 3.10.10

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:

When there is an existing `package-scripts.js` in the project the command `nps init` will override it with the

[2017-01-10 03:22] kentcdodds commented on #86
This is great. I like the `Ask for confirmation to override the existing file.` option. Potentially, we could also merge the existing file with the new... Could be 3 options.

Feel free to [makeapullrequest.com](http://makeapullrequest.com) :)

[2017-01-10 03:47] beeman commented on #86
Thanks for your reply @kentcdodds . I'm well aware how to make a PR, but thanks for the link!

I will give a go at implementing the confirmation. If you like feel free to assign this issue to my name.

[2017-01-10 03:51] kentcdodds commented on #86
Haha, yeah, I know you can make a PR. I leave it there in case someone else comes across this issue and wants to implement it. Also, I have it on autocomplete ;-)

[2017-01-10 05:46] #86 closed

[2017-01-11 16:16] erikfox opened #88 "/bin-utils loadJSConfig() doesn't support package-scripts.js exporting a function"
[`src/get-scripts-from-config.js`](https://github.com/kentcdodds/p-s/blob/master/src/get-scripts-from-config.js#L5) allows `package-scripts.js` to export a function:
[code]

but [`src/bin-utils/index.js loadJSConfig()`](https://github.com/kentcdodds/p-s/blob/master/src/bin-utils/index.js#L28) does not:
[code]

So when attempting to run a `default` script via command line, you get the generic help

[2017-01-11 16:20] kentcdodds commented on #88
Hmmm... I'm not sure I see where the problem is specifically. Do you have a proposed solution? May be easier to understand what's going on if I see a diff for the fixed version.

[2017-01-11 16:28] erikfox commented on #88
@kentcdodds I would like to see the binaries  [determine whether the config is `isPlainObject()` or `isFunction()`](https://github.com/kentcdodds/p-s/blob/master/src/get-scripts-from-config.js#L5) and evaluate if `isFunction() === true` before returning as part of [`getPSConfig()`](https://github.com/kentcdodds/p-s/blob/master/src/bin/nps.js#L70) flow.

That way,
1. when you run `nps` or `nps defa

[2017-01-11 16:29] erikfox commented on #88
If that makes sense, I don't mind writing implementation.

[2017-01-11 17:18] kentcdodds commented on #88
Give it a go, I look forward to seeing the implementation :) And don't forget to check [the contributing guidelines](https://github.com/kentcdodds/p-s/blob/master/CONTRIBUTING.md)!

[2017-01-14 22:03] gunnx opened #89 "Error thrown if "scripts" property missing from package.json"
- `p-s` version: 3.0.3
- `node` version: 7.4.0
- `npm` version: 4.0.5

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:
Init fails to work if there is no "scripts" object in package.json

Suggested solution:
Inform user of problem or create "scripts" property automatically.

[2017-01-14 22:05] kentcdodds commented on #89
Yeah, let's create the scripts automatically. Want to make a pull request?

[2017-02-07 09:59] Ryuno-Ki opened #96 "Link on NPM broken"
Problem description:

https://www.npmjs.com/package/npm-package-scripts lists https://github.com/kentcdodds/nps as path to source.

Suggested solution:

Update link to https://github.com/kentcdodds/p-s

[2017-02-07 14:27] kentcdodds commented on #96
Hi @Ryuno-Ki,
Thanks for the report. I should probably deprecate that package. I was going to rename this package and decided not to anymore. The actual npm package is: https://www.npmjs.com/package/p-s

[2017-02-07 14:27] #96 closed

[2017-02-08 16:38] kentcdodds opened #97 "`init` should not move certain scripts"
When you run `init`, currently it moves all the scripts to `package-scripts.js`. It would be great if we kept a list of scripts that shouldn't be moved (because they have semantic meaning in the `package.json` `scripts`).

For example, all [the npm lifecycle scripts](https://docs.npmjs.com/misc/scripts):

- prepublish
- publish
- postpublish
- preinstall
- install
- postinstall
- preuninstall
- un

[2017-02-08 17:52] kentcdodds commented on #67
We've decided to not do this. See #83 for more info.

[2017-02-08 17:52] #67 closed

[2017-02-08 17:53] kentcdodds commented on #50
I think we're good here.

[2017-02-08 17:53] #50 closed

[2017-02-09 16:52] #89 closed

[2017-02-09 16:52] #88 closed

[2017-02-09 17:20] kentcdodds opened #100 "Proper handling and forwarding of `--flags`"
Right now you can do:

[code]

And `p-s` will run the script called `foo` with the flag called `--bar`

However if you run:

[code]

then `p-s` will run the script called `foo` with the flag called `--bar` but without the flag called `--silent`. This is because of [this](https://github.com/kentcdodds/p-s/blob/3566a15b991d6b84e7386bd18b0e08c2e94c6235/src/bin-utils/index.js#L113-L124).

Normally it'

[2017-02-09 19:43] gunnx commented on #100
👍

On 9 Feb 2017 17:20, "Kent C. Dodds" <notifications@github.com> wrote:

[2017-02-09 19:56] kentcdodds commented on #100
Actually, yargs has a pretty sweet API for this. I think we'll do things in a way that's mostly backward compatible. If you want to forward flags into commands, you'll have to put those commands in quotes. This will make the most sense I think!

[2017-02-13 11:02] addityasingh commented on #100
@kentcdodds But do you think it would look a clean syntax?
[code]

My 2 cents: I would still prefer to not have any special syntax for my cli commands and below would be better than above:
[code]

[2017-02-13 14:00] kentcdodds commented on #100
Yeah, I can see how the syntax looks much cleaner. As I described though, the problem is that there's no way to know whether the user intends for the command to be passed to `p-s` or `build`. Things get even more complicated when you have multiple scripts you're running too. Before we just forwarded all non-`p-s` flags on, but that got confusing if you wanted to pass on a flag to a script that `p-

[2017-02-13 17:31] kentcdodds commented on #100
Actually, I've been wrestling with this a lot because I actually realized that I pass flags/arguments to `nps` on the command line all the time. For example: `nps t file-to-test.js --no-cache` is something that I'll do fairly regularly. And I would get annoyed if I had to wrap that in quotes everytime.

So here's a proposal:

- Remove the ability to do multiple scripts in series with a single `nps

[2017-02-13 17:40] kentcdodds commented on #100
I think we're just going to require the quotes. But I'm going to add option validation so if you try `nps build --foo` you'll get an error indicating that you may have forgotten to add quotes.

[2017-02-13 22:40] addityasingh commented on #100
Even though I would have preferred no-quotes, but I see your point now. But adding the error for no quotes should definitely be more consistent 👍

[2017-02-14 00:43] #100 closed

[2017-02-14 00:43] #70 closed

[2017-02-14 00:44] kentcdodds opened #105 "Publish @next as @latest"
I need help! Could people please try upgrading to `p-s@next` and tell us about your experience? I'll come back to this issue when I have a second to add a migration guide (I'll actually put it in docs somewhere).

Thanks!

[code]

[2017-02-14 00:46] kentcdodds commented on #105
Three major things changed:

1. `--parallel` is no longer available (use `concurrently`)
2. You cannot forward flags to scripts, you have to wrap things in quotes
3. To run multiple scripts, use spaces instead of commas

[2017-02-16 22:15] benmonro opened #106 "support for pre"
- `p-s` version:3.1.0
- `node` version:6
- `npm` version:4

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:

currently there's no support for 'pre' scripts in nps.  it would be nice if p-s suppported this for when we import scripts from npm.

Suggested solution:

[2017-02-16 22:23] kentcdodds commented on #106
Hi @benmonro,
Thanks for the issue. But we've discussed this and decided to not do it. You can follow the discussion in #67 and in the PR #83.

[2017-02-16 22:23] #106 closed

[2017-02-16 22:44] benmonro opened #107 "convert 'npm run' scripts to 'nps' in init"
Problem description:

currently if you run `nps init` on a script, it just copies over your scripts verbatim.  it would be nice if it any scripts I have which execute other scripts would be converted to nps (since they also moved).

Suggested solution:

[code]

would get init'd as:
[code]

[2017-02-16 22:47] benmonro opened #108 "`nps init` should import scripts that work exactly as they do in npm run."
`npm init` script should import scripts from package.json so that they work the same under p-s.

i.e. if I run `nps init` on the following package.json

[code]

then I should get the following output (in yaml)
[code]

[2017-02-17 00:11] kentcdodds commented on #108
This is great! I think we should definitely add it. Would you like to [makeapullrequest.com](http://makeapullrequest.com)? The relevant code is [here](https://github.com/kentcdodds/p-s/blob/master/src/bin-utils/initialize/index.js).

[2017-02-17 00:13] benmonro commented on #108
sadly I can't... i was just moved to another project.  sorry bud.

[2017-02-17 00:14] kentcdodds commented on #107
Super! Definitely feel like this would help people with migrating. Same as #108. Anyone care to [makeapullrequest.com](http://makeapullrequest.com)? The relevant code is [here](https://github.com/kentcdodds/p-s/blob/master/src/bin-utils/initialize/index.js).

[2017-02-17 00:15] kentcdodds commented on #108
That's fine. We'll leave this open for anyone else who wants to work on it.

[2017-02-18 05:08] #105 closed

[2017-02-18 06:03] kentcdodds commented on #105
So, due to a series of unexpected events, `p-s` was renamed to `nps` and auto-released (by accident) 😅 Here's [the changelog](https://github.com/kentcdodds/nps/releases/tag/v5.0.0)

[2017-02-18 22:03] rrag opened #112 "should "prettier-eslint-cli" be a devDependency instead?"
- `nps` version:
[code]

- `node` version:
[code]

- `npm` version:
[code]
Problem description:

I just installed `nps` and it installed 91 modules, I have recently been trying to understand why certain dependencies are added and try to reduce some if possible.

[code]
analysed a few of these with `yarn why`

[code]

Suggested solution:

Should this be a dev dependency instead?

[2017-02-18 22:45] kentcdodds commented on #112
Yes, it definitely should. My mistake. Could you submit a pull request? http://makeapullrequest.com

[2017-02-19 01:37] #112 closed

[2017-02-19 02:56] rrag commented on #112
thank you that was very quick

[2017-02-21 23:18] boneskull opened #116 "unexpected behavior with "default" script invocation and fuzzy name matching"
- `nps` version: 5.0.3
- `node` version: 4.3.2
- `npm` version: 2.14.12

Here's a trivial `package-scripts.js` reproducing the issue:

[code]

The command executed:

[code]

The output:

[code]

Problem description:

It appears the fuzzy script name matching is overeager when "default" scripts are invoked.

Suggested solution:

The script name matching should attempt literal keypath access *before

[2017-02-21 23:19] boneskull commented on #116
fwiw:

[code]

results in:

[code]

[2017-02-21 23:21] kentcdodds opened #117 "Remove out-dated README note"
:1st_place_medal: This is a [first-timers-only](https://medium.com/@kentcdodds/first-timers-only-78281ea47455) issue! That means that I will only accept a pull request to fix this issue from someone who's never contributed to an open source project before! :tada:

**Here's the issue:**

Recently, this project was renamed from `p-s` to `nps`. Before the rename, `p-s` exposed an alias binary called

[2017-02-21 23:23] kentcdodds commented on #117
Please claim the issue by commenting here!

[2017-02-21 23:29] kentcdodds commented on #22
I think this is a problem again...

[2017-02-21 23:30] JasonSooter commented on #117
@kentcdodds I'd be happy to do it

[2017-02-21 23:31] kentcdodds commented on #116
Yeah, this seems to be related to #24 which we kinda gave up because it's rare to happen. But, I would definitely like to see things improved!

[2017-02-21 23:32] kentcdodds commented on #117
Awesome! Let me know if you need any help @JasonSooter!

[2017-02-22 00:27] sloansparger commented on #82
@kentcdodds, I'm up for taking this one. Do you mind helping me out a little with the direction you would like it to go?

I see you have a getEnv function, would you like for me to handle this functionality there or pull in a function from another file that returns these env variables and merge the two in getEnv?

[2017-02-22 02:13] JasonSooter commented on #117
@kentcdodds Well I hope I did it correctly. Thanks for the nice video series to make it clear ;-)

[2017-02-22 02:23] kentcdodds commented on #117
Thanks @JasonSooter!

[2017-02-22 02:23] #117 closed

[2017-02-22 03:26] kentcdodds commented on #82
Cool @sloansparger! Yes, I think this should happen in `getEnv` and I'm thinking that we can move [it](https://github.com/kentcdodds/nps/blob/master/src/index.js#L84-L92) to its own module so it can be tested in isolation (so kind of a combination of what you suggested). I'm not certain how complicated it will be so it may be that you'll need to have a function or two in the new module and only ex

[2017-02-24 17:24] Attrash-Islam commented on #61
Hi kent,
Any programming recommendations regards this point?

Thanks

[2017-02-24 18:21] kentcdodds commented on #61
Sure! Right [here](https://github.com/kentcdodds/nps/blob/994703ceb30da8c42da4b8c33f8667438b1784a1/src/bin-utils/parser.js#L113) we should change it to something like:

[code]

Does that make sense?

[2017-02-24 19:16] Attrash-Islam commented on #61
Yes! Thanks.

Do you want to support alias in help for specific script? (Not make since in my opinion)

Like: nps help test
And: nps help t

[2017-02-24 19:21] kentcdodds commented on #61
I think aliases make perfect sense: `nps help t.c.w` would be help for `test.client.watch` :+1:

Also, for the help output, I think we should output the `script`, `description` (if present), and a new property called `help` (if present).

[2017-02-24 19:26] Attrash-Islam commented on #61
I see. I understand the script and description. What about the 3rd help?

[2017-02-24 19:37] kentcdodds commented on #61
The use case for that would be if someone wants to have more documentation for a script that doesn't fit in the description. The script name, script, and description show up in the `nps help` and the script name, script, description, and help all show up in the `nps help script.name`

[2017-02-24 19:44] gunnx commented on #61
Some of my scripts can be long, it would be good if I could disable the
output on help so it's just name and description

On 24 Feb 2017 19:37, "Kent C. Dodds" <notifications@github.com> wrote:

[2017-02-24 22:27] kentcdodds commented on #61
@gunnx, good point. Could you open another feature request to talk about that?

[2017-02-25 15:52] gunnx opened #119 "Add option to display only name and description for help command"
- `nps` version: 5.0.3
- `node` version: 7.4.0
- `npm` version: 4.0.5

Problem description:
Some scripts can be very long making the help output harder to read.

Suggested solution:
Either remove displaying the script completely, or supply a way to configure help so you can hide the script output, this could be done via a flag, or perhaps per script in the config file, much like `hiddenFromHelp` w

[2017-02-26 13:46] kentcdodds commented on #119
Thanks. Definitely open to doing this. Just unsure of what's best. I think I like using hiddenFromHelp, but what does everyone else think?

[2017-02-27 16:16] Attrash-Islam commented on #61
Regards validate script in README (That only includes string command - Not an object). What the expected output from ```nps help validate``` ?

[2017-02-27 16:33] Attrash-Islam commented on #61
I also appolegize about being so slow, because I'm in pressure period at work. So if I'm blocking the progress or others contribution, then I'd be happy if they apply their pull-request. My main goal is to improve my knowledge and the project itself.

[2017-02-27 16:37] kentcdodds commented on #61
I think we should just show as much info as we can. If there's no `description` or `help` then just show the script name and the script itself. Maybe show "[no description]" and "[no help]" ?

[2017-02-28 07:21] Attrash-Islam commented on #61
[no help] [no description] is good. Thanks

[2017-03-03 15:49] kentcdodds opened #123 "Add npsl (nps list) binary"
Got this idea from [a tweet](https://twitter.com/marcusoftnet/status/837689619042926592) from @marcusoftnet. Basically the same kind of experience as [`ntl`](https://npmjs.com/package/ntl):

![zjjq7vi](https://cloud.githubusercontent.com/assets/1500684/23557712/2abd1766-ffee-11e6-8b70-5378c8b922cb.gif)

That'd be pretty awesome. Anyone wanna take this on?

[2017-03-08 01:00] wopian opened #124 "init command fails with a null path TypeError"
- `nps` version: 5.0.4
- `node` version: 7.2.1
- `npm` version: 4.1.2

`package.json`:

[code]

The command executed:

[code]

The output:

[code]

Problem description:

Running the initialisation script to generate and update package.json automatically fails with the above error with the 4 scripts I currently have.

[Repo](https://github.com/wopian/hibari)

[2017-03-08 01:02] kentcdodds commented on #124
Thanks for the report. I'll get to it when I can. Anyone wanna dig in a bit?

[2017-03-08 01:20] wopian commented on #124
Further note: windows 10 and with VSCode 1.10's terminal.

Same scripts written in `package-scripts.yml` function just fine with `"start": "nps"` in `package.json`:

[code]

[2017-03-13 13:45] kentcdodds opened #125 "Fix autocompletion"
Just try it anywhere, it doesn't work :-/ Should probably be disabled until we can figure out what's up. Anyone wanna disable it at least?

[2017-03-15 17:01] kentcdodds opened #126 "Add script name in the `nps is executing` output"
Right now if I execute:

[code]

I'll get something like:

[code]

I'd like it to say:

[code]

where `foo.bar` is the name (path) of the script being executed. It'd be good to get it in bold too.

Anyone wanna take this up?

[2017-03-20 20:25] natecavanaugh commented on #124
@kentcdodds
I'm running into this too, and from what I can tell from my quick investigation is that it only happens when you don't already have a package-scripts.js file and it's [these two lines](https://github.com/kentcdodds/nps/blob/45aead4a07ee93e543ebeb088f87482a0742960d/src/bin-utils/parser.js#L140-L141).
Basically, the `getPSConfigFilepath` function is returning null if the file doesn't exi

[2017-03-21 02:53] kentcdodds commented on #124
Thanks @natecavanaugh, I've also reproduced this issue. Anyone wanna tackle it? It should be pretty straightforward!

[2017-03-21 15:09] natecavanaugh commented on #124
I can go ahead and shoot one over, it shouldn't be too bad :)

[2017-03-29 20:57] ghost opened #128 ""nps init" should not touch core npm script "hooks""
While executing `nps init` all scripts are moved to nps including nps script "hooks" e.g. "preinstall" or "prepublish". That kind of scripts should be treated same as "test" script - kept in package.json with a conversion of the content of script to nps.

List of hooks we would need to address:
[https://docs.npmjs.com/misc/scripts](url)

[2017-04-02 11:08] robwise commented on #119
For me, I like this idea because I like using `nps` as a menu of what I might want to run, but usually I'm not interested in looking at the source script code, I just want the names and maybe the descriptions. Accomplishing that by adding an option on a per-script basis would be kind of un-DRY.

What about just adding a built-in nps command called "commands" or a flag? I guess you might be worried

[2017-04-02 16:12] kentcdodds commented on #119
What if it was just `nps help --no-scripts`?

[2017-04-02 16:23] robwise commented on #119
Well if it's going to be based off of `help`, then we should also remove this type of thing with that flag:

[code]

The idea being I know how to use nps, I just forgot the name of the script, but I'll know it when I see it?

[2017-04-03 03:34] kentcdodds commented on #119
Good point!

[2017-04-14 08:10] Miklet opened #129 "Test fails under Windows OS"
Hello, I wanted to start contributing to this project, but unfortunately tests are failing under Windows 8/10 and probably on any other Windows OS too.

- `nps` version: 5.0.5
- `node` version: 6.9.2
- `npm` version: 3.9.6

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]
[code]

Problem description:
It seems that tests are failing because o

[2017-04-14 14:53] kentcdodds commented on #129
Ah, yeah, we should probably just fudge the output a little bit or something 🤔 Would you care to [makeapullrequest.com](http://makeapullrequest.com)?

[2017-04-14 14:57] kentcdodds opened #130 "Default script not showing up in the help"
- `nps` version: 5.0.3
- `node` version: 6.9.5
- `npm` version: 4.3.0

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:

As you can see it shows "There are no scripts available"

Suggested solution:

Make sure to include the root `default` in the help output. The function responsible for getting the scripts to display i

[2017-04-14 14:58] kentcdodds commented on #130
Oh, and tests are [here](https://github.com/kentcdodds/nps/blob/master/src/bin-utils/index.test.js#L163-L249). Setting up the project is laid out in the [CONTRIBUTING.md](https://github.com/kentcdodds/nps/blob/master/CONTRIBUTING.md)

[2017-04-14 14:58] Miklet commented on #129
I can try to fix it :-)

[2017-04-14 15:17] wabirached commented on #130
I can take a crack at this 👍

[2017-04-14 16:03] wabirached commented on #130
@kentcdodds, it seems to work fine for me with `nps` version 5.0.5.

[code]

Can you try with version 5.0.5 and let me know if it works for you, please?

[2017-04-14 16:05] wabirached commented on #130
All tests pass on my end, too.

[2017-04-14 16:08] kentcdodds commented on #130
So the help shows fine, but if there's a root-level `default` script, that doesn't show. In the tests, try adding a `default` script to the root like:

[code]

And I expect the test will still pass even though it should also log out the default script in the help. Does that make sense?

[2017-04-14 16:14] wabirached commented on #130
Ah, gotcha, thanks for the clarification! Looking into this further.

[2017-04-14 17:32] Miklet commented on #129
To test cli we use jest's snapshot technique which expects one, constant output. The output differentiates between OS platforms. There is no neutral output which is same on both. I guess we should standardize the output for Linux platform which is imo more natural i.e.:
`path/to/file` instead of `path\\to\\file`.

[2017-04-14 17:46] kentcdodds commented on #129
I was thinking that we could just do the same kind of thing we do [here](https://github.com/kentcdodds/nps/blob/master/cli-test/cli.test.js#L33-L41) but instead swap `\\` for `/` or something..

[2017-04-14 17:47] Miklet commented on #129
Yea, was thinking if we should play with actual output or only with output for tests. Will go with the one proposed by you.

[2017-04-14 20:43] Miklet commented on #129
May I ask about access to repo? Wanted to make PR.

[2017-04-15 00:02] kentcdodds commented on #129
Normally you make a fork and make a pull request from your fork. You may find the course referenced helpful: http://makeapullrequest.com

[2017-04-15 19:43] dweber019 opened #133 "How can I pass arguments to an nps command?"
- `nps` version: latest
- `node` version: lastest
- `npm` version: lastest

## The command executed:
[code]

## The output:
[code]
Or it just runs without applying the argument.

## Problem description:
How can I pass arguments to an nps command?
Before I was using npm scripts and there I could pass arguments form the command line like https://docs.npmjs.com/cli/run-script.

This is not possible o

[2017-04-15 19:44] kentcdodds commented on #133
Try:

[code]

[2017-04-15 19:44] dweber019 commented on #133
Nice I know now that I can do:
[code]
Putting the command in `"` solves the problem in `nps`

[2017-04-15 19:45] kentcdodds commented on #133
Thanks for using nps and filing an issue. If there's something that could be improved with the docs, please make a pull request: http://makeapullrequest.com

[2017-04-15 19:49] dweber019 commented on #133
@kentcdodds How can I do the same over npm e.g.:
[code]

Or do I have to use strictly nps now?

Would be nice if the user could just rely on the defaulting behavior and just pass an argument at the very beginning.

[2017-04-15 19:51] kentcdodds commented on #133
Hmmm.... That's a use case I hadn't considered. Most of the time you just make it a script (for example, call it `mobile`) and run: `npm start mobile`

[2017-04-15 20:02] dweber019 commented on #133
Yes but if there is dynamic parameter, there is ability to pass without writing the full nps command path.

I would be nice if I could run:
[code]
without knowing the whole nps logic/path. It would be nice for Developers which have nothing to do with the build/runtime process.

Totally get your `npm start mobile` suggestion but imagine I have two options `--env.platform` and `--env.config` which c

[2017-04-15 20:15] kentcdodds commented on #133
Try: `node_modules/.bin/nps "--env.platform=mobile"` 👍

[2017-04-16 00:25] dweber019 commented on #133
Doesn't solve my issue of being dynamic from the command line but it definitely solves some issues in the nps configuration file.

[2017-04-16 00:53] kentcdodds commented on #133
Could you explain what you mean?

[2017-04-16 01:13] dweber019 commented on #133
The comment from @gunnx in this issue #101 is what I mean (or at least it describes the npm-script argument issue). There is no possibility to pass any kind of custom argument to nps without using the full nps command path and using nps directly.

So I can't do this:
[code]
Because the double quote won't work as the nps command is behind the npm-script.

And I can't do this:
[code]
When the target

[2017-04-16 01:15] kentcdodds commented on #133
Ok, let's talk about how to solve this problem. What do you mean by:

[2017-04-16 08:43] dweber019 commented on #133
Let's do it ;)

Imagine this configuration:
[code]

In the end I like to call `mobile.build.development` any time.

I can do this currently by calling:
[code]
nps --argumentname=value" // Not working anymore
nps "mobile --argumentname=value" // Not working anymore
nps "mobile.build --argumentname=value" // Not working anymore
nps "mobile.build.development --argumentname=value" // Still working
[co

[2017-04-16 10:08] gunnx commented on #133
@dweber019 Yeah there's a few occasions where I really miss the option to do this, I've got around it for most things by creating specific package-scripts entries to cover the common flags. It's where you want to pass dynamic values that it falls down, for example in my BDD test framework I have the option to running certain tags by passing them as a value but there are lots of tags and you can pa

[2017-04-16 10:46] dweber019 commented on #133
@gunnx your suggestion about a new flag would be awesome.

Btw. I could solve my npm run issue.
If I have the following npm script:
[code]
I can pass arguments like ```npm start -- "mobile.build.development --argumentname=value"```.

So only the argument passing nps internally over defaulting behaviors is an issue.

[2017-04-16 11:04] Miklet commented on #108
This issue looks promising, I may take care of it :) Especially since I wanted to use it at job and was missing this feature.

[2017-04-17 09:19] Miklet commented on #129
I have found few more problems which I can fix, but I am surprised that those didn't appear when I was fixing cli tests. Also, I am surprised that this test doesn't fail on travis:
[code]
It's not about paths separators but content of message property is completely different.

[2017-04-17 15:10] kentcdodds commented on #129
Ah, yeah! Thanks. I wonder if it would be helpful to write a [jest serializer](https://facebook.github.io/jest/docs/configuration.html#snapshotserializers-array-string) that will do this automatically for all snapshots 🤔 We could open source that and other people could use it to avoid problems like these in the future... Something to think about...

[2017-04-17 15:10] kentcdodds commented on #129
Although this particular error would be kinda tricky because it's not a snapshot 😅 ignore me :)

[2017-04-17 15:33] kentcdodds commented on #133
I'm really sorry that I'm struggling to understand the issue. Could you explain what you meant by:

What if we exposed an additional binary (`nps-raw`?) that behaves similar to the old binary. The behavior would be that it doesn't accept any flags of its own and all flags are forwarded to the command:

[code]

Would that solve the use-case?

[2017-04-18 16:04] dweber019 commented on #133
I don't think this will fix the defaulting issue.

The custom argument should be passed from default command to default command until the final command is reached.

[2017-04-19 05:18] kentcdodds commented on #133
I think that it would. If you used `nps-raw` exclusively even in your `package-scripts.js` file, then I believe that it would fix the issue.

Would you like to try it out and [makeapullrequest.com](http://makeapullrequest.com)? :)

[2017-04-20 16:47] Miklet commented on #129
@kentcdodds Could you run `yarn start test` on your machine? Want to make sure it's reproducible and to see if it's correct that it's not failing on Travis.

[2017-04-20 18:03] Miklet commented on #129
Oh nvm, I see it is problem with paths and just understood how `expect.stringMatching` function works. Will make another pr soon.

[2017-04-22 09:51] Miklet commented on #129
Tests are working correctly now so I close my issue.

[2017-04-22 09:51] #129 closed

[2017-04-22 09:52] #108 closed

[2017-04-22 13:42] kentcdodds commented on #129
Thanks to you! 😀

[2017-04-23 19:26] Miklet commented on #123
It would be great to have this feature. Did you think on any possible solution? I just saw that `ntl` is using `[inquirer](https://github.com/sboudrias/Inquirer.js)` and we could possibly use it too.

[2017-04-23 21:31] kentcdodds commented on #123
Yep, that's what I had in mind as well! 👍

[2017-05-09 22:12] tleunen opened #137 "Better commands in series console output"
I'm not sure if it's possible with the current state of nps and nps-utils, or if this is something you all would be interested in.

When I use multiple commands in series, I usually have 3 or more commands, which makes the output really not clear with the command on multiple lines.

So, instead of having this following thing:
[code]
Because everything is in series, would it make sense to split the

[2017-05-09 22:48] kentcdodds commented on #137
If we can come up with a good way to do that I'd be happy to do that. Unfortunately I don't see it being very reasonable to do reliably without parsing the command which I don't really want to do.

Now we _could_ improve `npsUtils` to add a newline with `series` or you could write your own `series` function to do that.

Anyway, definitely happy to entertain a PR for that if it's reasonable.

[2017-05-16 21:03] kwelch commented on #133
I am running into the same issue. I will try to explain it a little differently and hopefully provide a solution.

**Script I am running**
`npm start build -- --build {CI_BUILD_NUMBER}`

**Script processed as**
`nps build "--" "--build" "{CI_BUILD_NUMBER}"`

**Ideally processed as**
`nps "build --build {CI_BUILD_NUMBER}"`

Although extracting `nps-raw` would work, the potential simpler solution (f

[2017-05-16 21:06] kentcdodds commented on #133
Yeah, I think we'd be safe to call that a patch. If you'd like to implement that, I'd happily accept :+1:

[2017-05-17 13:34] kwelch commented on #133
This should be closable. Only potential dependency would be documentation.

[2017-05-17 16:09] kentcdodds commented on #133
Whoops, forgot to ask you to document that in your PR. Could you do that really quick? Then we can close this. Thanks @kwelch!

[2017-05-17 16:17] kentcdodds opened #139 "Revert 100"
Ok, so #100 had good intentions, but it turns out that it's a little more frustrating to deal with things now that you have to wrap things in quotes. I don't know about anyone else, but it's been annoying for me. Also it's pretty rare that I want to run a series of scripts in a single `nps` invocation. And if I wanted to do that I could just do `nps script1 && nps script2` for the rare cases I eve

[2017-05-17 16:17] kentcdodds commented on #139
ping @kwelch who did some work to make things a little easier. Your work is still appreciated, but I think it will be unnecessary after these changes.

[2017-05-17 16:17] kentcdodds commented on #139
That said, if anyone would like to work on implementing this, please, be my guest!

[2017-05-17 19:33] kwelch commented on #139
No worries. I actually thought about building a variation of this last night. I think this proposal works better than I was thinking.

To be clear, there will only ever be one script called? So usage would look like:
`nps [--flags] (script|command) [script options/flags]`

[2017-05-17 19:34] kentcdodds commented on #139
Correct :+1:

[2017-05-17 19:34] kentcdodds commented on #139
I'm not sure how to accomplish this with yargs, but I hope it's straightforward!

[2017-05-17 19:39] kwelch commented on #139
Is `yargs` a requirement? I think using it for the simplified help and simple commands as valid, but the arguments come in as an array already and if order is key then I would map or reduce through the args making a single command. Lets see how the emoji vote goes and if there is enough in favor I can try to take a look at this.

[2017-05-17 19:42] kentcdodds commented on #139
I like yargs a lot, but what you're saying makes sense. We don't need most of the features of `yargs` anyway. One thing that yargs made easier was autocomplete. However, that feature has been broken for some time now and nobody's complained, so I don't think that anyone's using it 😅

I wouldn't worry about the emoji vote count. I've been thinking that this would be better for a while. The more I t

[2017-05-18 03:42] tleunen commented on #137
Probably better to write my own function to add the newline actually.

In addition to that, maybe we could have some `prettyPrint` functions to keep the display under 80 characters (or the col number in the current terminal) while splitting the commands when it make sense (ie. not breaking a word. But ideally we should probably be smarter with parameters or series of commands too)

I wonder if som

[2017-05-18 03:56] kentcdodds commented on #137
Not sure I follow what you mean, but I know that yargs does change it's `--help` output based on the width of your terminal... Maybe they use something?

[2017-05-23 17:46] Miklet commented on #126
Since my PR for `prefix-matches` got merged and now it returns corresponding property chain I can get back to this issue. I have question about module `resolve-script-object-to-string` if it is still needed after changes. Result of `prefix-matches` will now always return an object and also we want now to get resolved prefix with script to execute, not only script.

[2017-05-23 18:45] kentcdodds commented on #126
Yes, the PR to support this will be much simpler now :)

[2017-05-23 18:50] Miklet commented on #126
If it will be much simpler then I guess we can drop module `resolve-script-object-to-string` as I asked earlier :)?

[2017-05-23 18:53] kentcdodds commented on #126
I expect so :) Thanks so much!

[2017-05-25 03:11] kwelch commented on #133
So looking back at this to add docs, and the unit tests passes, but the functionality added in #138 does not work when called. I am starting to look into #139 instead.

[2017-05-25 05:03] kentcdodds commented on #133
Good call :+1:

[2017-05-25 12:03] kwelch commented on #97
This is a dup of #128 or vise-versa.

[2017-05-25 13:28] kentcdodds commented on #128
This is a dupe of #97 :)

[2017-05-25 13:28] #128 closed

[2017-05-27 05:02] boneskull commented on #22
Indeed, my errors are getting eaten.

[2017-05-27 05:14] boneskull commented on #22
I feel like the problem here is a lack of distinction between a *missing* config file, and one which is simply invalid.

[2017-05-28 05:53] luftywiranda13 opened #141 "`silent` and `logLevel` option"
- `nps` version: v5.3.1
- `node` version: v7.10.0
- `npm` version: v4.6.1

Scripts file (or at least the relevant bits):

in `package-scripts.js`
[code]
or
[code]

The command executed:

[code]

The output:
no differences, the output is still the same just like there's no option is configured.

Problem description:
I need to tame the verbosity of the output a little bit, because I think nps is too

[2017-05-28 10:04] Miklet commented on #141
Is your `options` property at the same depth as `scripts`? What I mean:
[code]

[2017-05-28 10:09] #126 closed

[2017-05-28 10:14] luftywiranda13 commented on #141
@Miklet yes, I set `scripts` and `options` at the same level
pretty much like this https://github.com/kentcdodds/nps/blob/master/package-scripts.js#L66

[2017-05-28 10:36] Miklet commented on #141
@kentcdodds Alright, I did some investigation and probably found a reason. In `nps.js` we do merge of options from `package-scripts.js` and cmd options. Command line options take precedence and since values for logLevel and silence are not provided they receive their default values which is `false` for silent and `'info'` for `logLevel`.

[2017-05-28 10:46] luftywiranda13 commented on #141
@Miklet so it means any `options` I set in `package-scripts.js` will always be ignored?

[2017-05-28 10:49] Miklet commented on #141
I think yes :( But I also want to wait for @kentcdodds comment. Btw. you can still pass `-s` or `--silent` option to make nps less noicy until it will be fixed.

[2017-05-28 14:09] kentcdodds commented on #141
Yep, that sounds like the problem. The food would be to remove the CLI defaults I think. Happy to accept a [pull request](http://makeapullrequest.com) 😀

[2017-05-29 07:35] luftywiranda13 commented on #141
sure, but I need times to figure out how `nps` works first 😁

[2017-05-29 12:53] kentcdodds commented on #141
Take your time :) It's as urgent as you need it to be :)

[2017-06-01 18:59] Miklet commented on #123
I am going to work on this feature in my leasure time.

[2017-06-02 02:45] kentcdodds commented on #139
Ok, so I reeeally want this now. In fact I also really want to get the `--parallel` flag back. The ergonomics of `nps` took a bit of a downturn when I removed those two things. I'd like to get them back now. Anyone wanna work on this?

[2017-06-02 03:23] kwelch commented on #139
Sorry, I want to but I had a few things come up and have not been able to get to it.

If anything changes I will let you know. 👍

[2017-06-07 23:46] RichDonnellan commented on #119
Piggybacking on this idea, can we also include a way to hide the script output when executing `nps`? Really long scripts do clutter the log and shouldn't be important to see once your setup is "bulletproof".

[code]

[2017-06-09 23:03] RichDonnellan opened #143 "Add option to hide script description on nps execution"
- `nps` version: 5.3.1
- `node` version: 8.1.0
- `npm` version: 5.0.3

**Problem description:**
After executing `nps`, the script description is logged. This can clutter the displayed output if running lengthy scripts.

[code]
**Suggested solution:**
Add a `--no-scripts` flag to hide the description from the console.
[code]
**Expected output:**
[code]
(Ref: https://github.com/kentcdodds/nps/issues

[2017-06-09 23:14] kentcdodds commented on #143
Sounds great. In addition, I'd like this to be configurable in [options](https://github.com/kentcdodds/nps#options) (like [here](https://github.com/kentcdodds/nps/blob/master/package-scripts.js#L56-L58)) :+1:

[2017-06-09 23:15] kentcdodds commented on #143
With `yargs`, the option will be called `scripts`, will default to `true` and be a `boolean` type. This will allow you to use `--no-scripts` to turn it off.

[2017-06-15 03:53] bhargav175 commented on #61
@kentcdodds Hi, I have taken up this issue. I will send a PR today.

[2017-06-15 04:41] kentcdodds commented on #61
Awesome! Thanks @bhargav175!

[2017-06-15 04:44] kentcdodds opened #145 "Fix early error"
We used to have [a nice error message](https://github.com/kentcdodds/nps/blob/76bee57638e0a6158e98bdc3f2bb6c057094f6b7/src/index.js#L46-L56) when you entered a script name that didn't exist. We seem to have broken that and now we see:

[code]

This seems to be coming from [this](https://github.com/kentcdodds/nps/blob/76bee57638e0a6158e98bdc3f2bb6c057094f6b7/src/index.js#L45). We should probably ju

[2017-06-15 07:56] bhargav175 commented on #145
I faced this issue when I was trying to commit the first time as well. I wanted to add myself as a contributor and then make my first PR, but that din't happen. So had to do it without add myself. I was debugging it, thought maybe I was doing something wrong. I will have a look at this one.

[2017-06-15 13:25] kentcdodds commented on #145
Oh thanks! I didn't realize that `fish` doesn't support `&&`... Hmmm... Maybe that's something we can handle in the `nps-utils` [`series`](https://github.com/kentcdodds/nps-utils/blob/092202732ce02c71c4d4a04c9865b04ec02d19f3/src/index.js#L30-L41) util... 🤔

[2017-06-15 14:18] bhargav175 commented on #145
Yes! I was surprised that it doesn't. And the issue is in "will-not-implement" milestone. 😅 So perhaps we should find a way to not use "&&" and use "series" as you mentioned. Here you go.
[Issue in fish shell](https://github.com/fish-shell/fish-shell/issues/150)

[2017-06-15 14:23] kentcdodds commented on #145
Yeah, if there's a way for us to detect that you're using `fish` (I'll bet there's an npm package that'll tell you the current shell) then we could use that in `series` to determine whether to use `&&` or something else.

[2017-06-15 14:55] #145 closed

[2017-06-20 19:38] jonataswalker opened #149 "Unable to find a config file"
- `nps` version: `5.3.2`
- `node` version: `8.1.2`
- `npm` version: `5.0.3`

Scripts file (or at least the relevant bits):

[code]

### `package.json`
[code]

The command executed:

[code]

The output:

[code]

Suggested solution:

Gotta pass the same config file to all subsequent scripts?

[2017-06-22 10:48] jonataswalker commented on #149
ping @kentcdodds

[2017-06-22 14:06] kentcdodds commented on #149
I'm on vacation. I'll get to it when I can. Thanks for your patience.

[2017-06-27 01:06] RichDonnellan commented on #149
@jonataswalker Follow issue #139 and https://github.com/kentcdodds/nps-utils/issues/13. Sounds like you're facing the same troubles. Hopefully, it will be resolved in an upcoming release.

[2017-06-27 10:35] jonataswalker commented on #149
Ah ok @RichDonnellan thank for pointing it.

[2017-07-12 00:29] erikfox commented on #143
@kentcdodds Is this ripe for pickup? Mind assigning to me?

[2017-07-12 00:39] kentcdodds commented on #143
Thanks @erikfox! You're welcome to work on this one. I can't assign it to anyone who doesn't have commit access, but feel free to [makeapullrequest.com](http://makeapullrequest.com) for it 😄

[2017-07-12 15:54] erikfox commented on #143
@kentcdodds PR #150 is up and needs feedback!

[2017-07-12 23:06] #143 closed

[2017-07-16 04:04] kentcdodds opened #153 "Refactor nps tests"
Let's get rid of `sinon` and just use jest's built-in mock functions.

Also, we use `jest.mock` in a pretty sub-optimal way. We really shouldn't be doing `jest.mock` calls inside of functions. Those should go at the top of the module where we're calling it.

Also, doing inline `jest.mock` is not the best. We should probably write these mocks in `__mocks__` directories (see the Jest docs).

[2017-07-17 16:49] kentcdodds commented on #61
This has been added. Thank you @imbhargav5!

[2017-07-17 16:49] #61 closed

[2017-07-19 14:34] imbhargav5 commented on #69
Hi @kentcdodds. I want to take this one up. How do I go about finishing it? Any gotchas?

[2017-07-19 14:36] kentcdodds commented on #69
Nothing I can think of off the top of my head. Thanks!

[2017-07-19 14:37] imbhargav5 commented on #69
So, I will just probably try and reverse the init feature. Will send a PR soon.

[2017-07-21 06:03] Miklet commented on #149
@jonataswalker Do you mind if I close this issue since there are two others you can track?

[2017-07-21 06:15] #130 closed

[2017-07-21 06:18] #124 closed

[2017-07-21 06:46] #149 closed

[2017-07-21 06:46] kentcdodds commented on #149
Yeah, let's do that. Thanks @Miklet :+1:

[2017-07-24 18:16] Miklet commented on #123
Since I do not have much time to actively take part in `nps` I leave this feature unassigned. Maybe someone will want to make it shine 😄

[2017-07-25 18:54] Miklet commented on #22
Already merged, closing :)

[2017-07-25 18:54] #22 closed

[2017-07-26 17:20] Miklet commented on #97
Found some time to work on that issue. Thinking about the part you mentioned at the end. Beside `npm run` I guess we should also handle: `npm run-script`, `yarn start` and `yarn`. I see one problem with `yarn`'s command. How to distinguish it from something like `yarn global`. On the other hand, I don't think that people put other `yarn` commands in `package.json` than `yarn start|yarn` 😄

[2017-07-26 17:48] kentcdodds commented on #97
Let's just start out by supporting `npm run` :smile:

Thanks!

[2017-07-29 08:47] Miklet commented on #97
#154 closing :)

[2017-07-29 08:47] #97 closed

[2017-07-29 10:50] Miklet commented on #107
Issue #128 included requested feature so we can close it 🙂

[2017-07-29 10:50] #107 closed

[2017-07-30 17:18] imbhargav5 commented on #69
@kentcdodds Made good progress. Working on fixtures right now. Thanks!

[2017-08-09 04:22] v1adko commented on #82
@kentcdodds As I understand this just opens/proxies npm environment variables to the scripts run via nps, right?
What about setting your own environment variables?
I use [better-npm-run](https://www.npmjs.com/package/better-npm-run) (which, in fact, depend are based on your cross-env) to provide variables declaratively (useful for swapping database connection parameters and other API tokens for de

[2017-08-10 23:08] kentcdodds commented on #82
I recommend just using `cross-env`. You can even use [`nps-utils`](https://github.com/kentcdodds/nps-utils) which has a utility function for that :+1:

[2017-08-13 03:27] sudo-suhas opened #155 "pre-commit hook fails for unknown reason"
- `nps` version: `5.7.0`
- `node` version: `8.2.1`
- `npm` version: `5.3.0`
- `yarn` version: `0.27.5`

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

Problem description:
I faced this issue while trying to contribute to `cross-env`. While manual execution of the `precommit` npm script did not return an error, the pre-commit hook failed unexpectedly.

Suggest

[2017-08-13 03:47] kentcdodds commented on #155
Hmmm... Nothing in the output you pasted indicates the script failed. Was there any error output?

[2017-08-13 03:51] sudo-suhas commented on #155
Nope.

[2017-08-13 03:53] kentcdodds commented on #155
Huh, I'm not sure what's going on there, but I'm guessing it's not an `nps` issue specifically. Probably something to do with the scripts that are being run. Could you dig a little deeper? Thanks!

[2017-08-13 04:08] sudo-suhas commented on #155
@kentcdodds I am going to need a bit more to go on. I have used husky in other projects without any issues. The actual npm script does not return error status code. The only other moving part involved is nps.

[2017-08-13 04:10] kentcdodds commented on #155
I'm afraid that I don't have a lot of [time](http://kcd.im/no-time) to dedicate to this issue right now :-( Sorry

[2017-08-13 04:15] sudo-suhas commented on #155
No problem. If you can find some time later to point me in the right direction, I'd be happy to help fix this issue.

[2017-08-13 23:02] lfurzewaddock opened #156 "nps mongo.start failed with exit code 100"
- `nps` version: 5.7.0
- `node` version: 6.11.1
- `npm` version: 3.10.10
- `OS`: MS Windows 10 Pro version: 1703 / WSL (Windows Subsystem for Linux): Ubuntu version: 16.04

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:

Frontend Master Course: Testing JavaScript Applications (feat. React and Redux), attempting to set

[2017-08-14 04:27] sudo-suhas commented on #155
@kentcdodds I dug little bit more and it turns out this wasn't an issue with nps after all. Created a PR ta2edchimp/opt-cli#213 which can fix this.

[2017-08-14 04:27] sudo-suhas commented on #155
@kentcdodds I dug little bit more and it turns out this wasn't an issue with nps after all. Created a PR ta2edchimp/opt-cli#213 which can fix this.

[2017-08-14 04:27] #155 closed

[2017-08-14 13:39] kentcdodds commented on #155
Great! Thank you!

[2017-08-18 04:21] Falieson opened #157 "NPS friendly badge?"
just a simple improvement request for the readme.

Something I like a lot about commitizen is its badge to put at the top of my README.md telling all the devs on my team that its a commitizen project. Would like the same for NPS.

[![Commitizen friendly](https://img.shields.io/badge/commitizen-friendly-brightgreen.svg)](http://commitizen.github.io/cz-cli/)

[2017-08-18 15:48] kentcdodds commented on #157
Sure, I'd be happy to support an official badge and mention it in the readme. How about:

[![nps friendly](https://img.shields.io/badge/nps-friendly-blue.svg?style=flat-square)](https://github.com/kentcdodds/nps)

[code]

[2017-08-18 15:49] kentcdodds commented on #157
I'm partial to the flat badge look. If you'd like to [make a PR](http://makeapullrequest.com/) to add this to the README that'd be cool. Something like: "And look, you can add this badge to your project! :tada:"

[2017-08-18 16:19] Falieson commented on #157
Thanks @kentcdodds , I'll do that today!

[2017-08-18 18:45] #157 closed

[2017-09-05 17:43] Miklet commented on #153
#162 removed sinon from tests. Mocks still need improvement 🙂

[2017-09-17 10:27] iamkether commented on #119
@kentcdodds What do you think about this format:

[code]
`all` would be the default and basically gives you the entire output like the command does currently. `scripts` would be something like this:
[code]

And then `basic` would give it to you without the scripts appended to the end:
[code]

[2017-09-17 16:31] kentcdodds commented on #119
Sounds fine to me!

Let's just make sure it's tested and documented too! 👍

[2017-09-25 01:57] iamkether commented on #119
@kentcdodds I've mostly figured out how to do this, but I want some feedback on my direction in case I'm missing something in the library. Is there a way to globally access the current options object? Or do I need to re-write functions all the way up the call stack to carry the options object down to the right functions?

[2017-09-25 14:31] kentcdodds commented on #119
@iamkether, what you have there seems fine to me :+1:

[2017-10-15 05:32] #47 closed

[2017-11-09 06:06] iamkether commented on #119
This was fixed in https://github.com/kentcdodds/nps/pull/164. You can now specify a `'help-style'` in your `config.options` object see my [above message](https://github.com/kentcdodds/nps/issues/119#issuecomment-330034525) for details on what each option provides for output.

[2017-11-09 06:06] #119 closed

[2017-11-24 20:45] istrau2 commented on #139
@kentcdodds Why not just use environment variables for this? I've been doing this:

[code]

[2017-12-13 22:41] dkent600 opened #165 "How to execute locally-defined function?"
Hi, this is just a question:

I want to execute a javascript function (as opposed to a script) using nps.  But I haven't been able to figure out how to do it.  I've defined the function in the package-script.js file in several ways but the best I have been able to get from nps is that "myFunction is not recognized as an internal or external command"

I imagine there must be some trick to doing thi

[2017-12-15 02:04] kentcdodds commented on #165
Hi @dkent600,

So part of `nps` mission is to _not_ become another `gulp` where it allows you to run arbitrary JavaScript for your scripts ([it's in the roadmap](https://github.com/kentcdodds/nps/blob/master/other/ROADMAP.md)). If you want to do that, put that javascript in another file and make your script `node ./your-script`.

Good luck!

[2017-12-15 02:04] #165 closed

[2017-12-15 03:58] dkent600 commented on #165
Thanks, that was the clue I needed!

[2017-12-27 18:50] xenoterracide commented on #133
I want this too, use case is local dev using `npm start` which runs via nps, a webpack-dev-server, would like to simply change the port, e.g. `npm start --port 8000`, although making a static for the port wouldn't be hard, it's really not efficient to make a different configuration every time a dev wants to change something like a port. could it be passed via an env var? sure, but this doesn't see

[2018-01-16 06:37] Zerogiven opened #167 ""pre" and "post" task tasks"
I would love to have automatic pre and post executions like npm script have. There you can prefix all tasks with "pre" or "post". At nps one solution would be also check if prefixed tasks are available. The other one which i like a bit more would be to check if package-scripts have a root element called "_pre" and "_post" or "pre" and "post".

For example:

[code]

[code]

Executes for the above e

[2018-01-16 06:40] kentcdodds commented on #167
Hey @Zerogiven :wave:

This is a duplicate of https://github.com/kentcdodds/nps/issues/67

Please see that issue for more info. Thanks!

[2018-01-16 06:40] #167 closed

[2018-01-30 15:36] hmerzin commented on #123
Hi, I've been working on this and was wondering where I could get a list of the package scripts or a parsed config file? So far the only way I was able to get it was by calling parse on `process.argv.split....` like in nps.js. I did see the function `getAvailableScripts` in `index.js`, but haven't found a config reference to the config to pass into it.

Thanks, Harry

[2018-02-10 22:36] Songworks commented on #141
Had a look into this and there don't seem to be too many complex changes necessary to fix it, theoretically anyway. Still accepting a PR for this?

[2018-02-11 03:39] kentcdodds commented on #141
Sure 👍

[2018-02-18 06:35] deadcoder0904 opened #168 "All help-style (all, scripts, basic) commands fail"
- `nps` version: 5.7.1
- `node` version: 9.5.0
- `npm` version: 5.6.0

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:

Show help scripts with description. All `help-style` commands fail.

Suggested solution:

Make `--help-style` command work.

[2018-02-18 06:47] deadcoder0904 commented on #168
Hey actually nothing works from https://github.com/kentcdodds/nps/blob/master/src/bin-utils/parser.js#L32-L62

I tried `nps help "--log-level info"`. Is there something I am doing wrong ❓

[2018-02-24 07:41] K3TH3R commented on #168
@kentcdodds it looks like there hasn't been a [release auto-published since last August](https://github.com/kentcdodds/nps/releases), so anything that has been published since then hasn't been getting pushed.

[2018-02-24 16:56] kentcdodds commented on #168
Thanks for letting me know @K3TH3R. I've fixed the travis config so the releases should go out, but now [the build](https://travis-ci.org/kentcdodds/nps) is failing. I'm unable to dedicate much time to this project at the moment, but will accept a PR from anyone who can fix the build.

[2018-02-25 12:22] Miklet commented on #168
Tests failed because of timeout. @kentcdodds can we run build again manually? I pulled the newest version and all tests are passing locally and all snapshots are updated.

[2018-02-26 14:21] kentcdodds commented on #168
Ok, I ran it again and it's green :+1: No idea what's going on... Someone should probably look into this...

[2018-02-27 21:33] donovanhiland opened #169 "Options getting forwarded to graphql-cli cmd"
- `nps` version: 5.8.0
- `node` version: 9.4.0
- `npm` version: 5.6.0

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:

When running `graphql get-schema` with `nps`, an `endpointName` options gets passed through which fails validation in `graphql-cli`. Running the same command from `package.json` scripts works as expec

[2018-02-27 21:44] kentcdodds commented on #169
Huh... No idea why an `endpointName` would magically appear here. You could try [diving into your `node_modules`](https://blog.kentcdodds.com/spelunking-in-node-modules-bf165af19968) to see if that helps...

Let us know what you come up with.

[2018-02-27 22:34] nick-woodward opened #170 "Unable to run `nps` without any arguments"
### Versions

- `nps` version: 5.7.1
- `node` version: 9.5.0
- `npm` version: 5.6.0

### Scripts file (or at least the relevant bits)

[code]

### The command executed

[code]

### The output

[code]

### Problem description

The changes made in https://github.com/kentcdodds/nps/commit/9338d72cffb8efb7cf3951e6bf41ac92f11d95e5 have made it impossible to run `nps` without any arguments.

**The follo

[2018-02-27 22:48] kentcdodds commented on #170
Makes total sense. I'd be happy to accept [a PR](http://makeapullrequest.com) for that :+1:

[2018-02-27 23:30] donovanhiland commented on #169
Ok so the magically appearing `endpointName` isn't so magical after all. I have an env var `GRAPHQL_CONFIG_ENDPOINT_NAME` which yargs is parsing and passing as an argument with something like `.env('GRAPHQL_CONFIG')`.  It's not expecting an `endpointName` argument and so fails on `yargs.strict()`. The weird piece to me is that it works using npm scripts but not nps.

[2018-02-28 17:10] kentcdodds commented on #169
I have no idea why this is happening though:

and

I'm also curious. I'm really sorry @donovanhiland, I just have _very_ limited time to dedicate to this package so I can't be a lot of help to you here :-/

[2018-02-28 17:13] #170 closed

[2018-02-28 19:13] donovanhiland commented on #169
I totally understand! I'll document any other findings here in case someone else runs into the same issue.

[2018-02-28 19:13] donovanhiland commented on #169
Workaround: https://github.com/graphql-cli/graphql-cli/issues/228#issuecomment-369063177

[2018-03-01 07:12] Miklet commented on #168
I think we can close this issue, the main problem is solved and cli's tests stability [improved](https://github.com/kentcdodds/nps/pull/171#issuecomment-369088322).

[2018-03-01 09:52] #168 closed

[2018-03-09 08:57] SleepWalker opened #172 "Series scripts execution breaks, when using underscored command names"
- `nps` version: 5.8.1
- `node` version: 8.0.0
- `npm` version: 5.6.0

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Expected output:

[code]

Problem description:

If you run commands in series and  one of the commands has the same name as a parent, but with underscore (at the beginning or at the end or both. no matter), it will execute

[2018-03-09 17:35] kentcdodds commented on #172
Weird. Seems like a bug. Feel free to dig deeper and [make a pull request](http://makeapullrequest.com) if you find what's going on. Thanks!

[2018-03-10 16:11] #172 closed

[2018-03-28 06:08] SleepWalker opened #174 "Allow to configure custom prefixes for scripts"
Hello, what do you think about a feature to allow user to provide custom shortcut name for script, e.g.:

[code]

and then you can run this with `nps sb`

[2018-03-28 15:11] kentcdodds commented on #174
Hi @SleepWalker,
Thanks for the issue, but I don't think that we'll do this. The workaround is simple enough:

[code]

Thanks anyway!

[2018-03-28 15:11] #174 closed

[2018-04-25 11:29] prastut commented on #168
@deadcoder0904 @Miklet this still doesn't work.

[2018-05-08 13:26] Enteleform opened #176 "'Quick Video Intro' is not viewable"
The linked video on Egghead.io is unviewable to the general public, marked with `This Lesson is for PRO Members`. IMO this link should be replaced with something that is freely accessible, and the Egghead.io course should be moved to a `Further Learning` / `Learning Resources` / `etc.` section at the end of the page.

[2018-05-08 14:49] kentcdodds commented on #176
I agree. I believe it started as free and was changed. Let's move it below. Would you like to [make a pull request](http://makeapullrequest.com) to do that?

[2018-05-18 21:41] GarthDB commented on #133
This is exactly what I'm looking for. My primary use case is using it for isolating specific tests: `npm test -- --watch --match='test name'`

I see a solution was merged, but I'm looking for the documentation because I can't seem to get it to work the way I expect.

[2018-06-06 01:16] forrest-rival opened #177 "Mid-script Args"
- `nps` version: latest
- `node` version: latest
- `npm` version: latest

Problem description:

Since we're improving on npm scripts, it would be awesome to be able to pass script args somewhere in the middle of the script.

e.g. passing an environment to a script like `ENV={env} webpack --config webpack.config.{env}.js`

Suggested solution:

Would love to begin a discussion about potential approa

[2018-06-06 01:30] forrest-rival commented on #177
No worries, thanks for the heads up!

[2018-06-06 01:48] forrest-rival commented on #177
@kentcdodds just out of curiosity, what you guess is the effort level for maintaining this project? I've never maintained an open source project, but potentially interested or might know someone that would be.

[2018-06-06 17:02] dkent600 commented on #133
@GarthDB Looks like it was merged but hasn't been published yet

[2018-06-06 17:30] kentcdodds commented on #133
All my packages are automatically published. If it hasn't been published then something went wrong with the build.

[2018-06-07 04:19] kentcdodds commented on #177
It's all in how much you want to put into it. I haven't done much with this project in about a year and it's still getting 11k downloads per month 🤷‍♂️

[2018-06-16 14:40] wmertens opened #179 "Manipulating process.env from package-scrips.js"
When putting something like `process.env.hello = 'hi'` in the `package-scripts.js` file, you get `hello=hi` in the spawned environment.

To me, that is a very nice feature, because I can provide helper vars to scripts, while the commands stay somewhat readable, e.g.

[code]

This will provide the default settings to `DEBUG` if it's not defined, and enforce `NODE_ENV=development` unless specified.

[2018-06-16 15:20] wmertens opened #180 "`-h` or `--help` do not list available scripts nor `help` command"
- `nps` version: 5.9.0
- `node` version: 8.9.4
- `npm` version: 6.1.0

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:

This output does not include the section `Available scripts` that you get when you run `nps help`.

It also does not include the command `help` in the `Commands:` section, so you can't find that out w

[2018-06-20 01:37] Hypercubed commented on #42
I know this is closed (and feel like we may have discussed the before :) ) but have you considered that if a script name resolves to an array instead of a string runs the commands in series?

For example instead of:

[code]

we could do:

[code]

or in YAML:

[code]

That's what I did in https://github.com/Hypercubed/npsl which I would like to deprecate in favor of nps.

[2018-06-20 03:45] kentcdodds commented on #42
Is there a reason that this wont work for you?

[code]

[2018-06-21 13:19] kentcdodds commented on #42
Is that sufficient? I just feel like this package is already too magical and think it'd be better to avoid more magic.

[2018-06-22 01:41] Hypercubed commented on #42
Yeah, the multiline strings work for me.  Thanks!

[2018-07-25 12:39] Mehuge opened #184 "Feature: script as function ?"
This may be a daft idea, but anyway... I have been playing around with nps as a replacement for a build environment currently based on bash.

One thing I would like to be able to do is:

    build: {
      script: buildScript,
    }

where buildScript is a function that returns a string.

The reasoning behind this is that I would like to put some processing inside those functions, but I don't want

[2018-07-26 13:29] Mehuge commented on #184
Yeah no problem at all, I totally get where you are coming from, especially if you are putting this project to bed.

For anyone finding this and thinking, that would be neat.  I forked this project and added the functionality https://www.npmjs.com/package/nps-plus

I ended up implementing it differently (better) and now the function can do all the work and just return success/failure status, or re

[2018-08-03 15:28] Mehuge commented on #177
Can't you just do

`process.env.ENV = 'production'`

the script: `'webpack --config webpack.config.${ENV}.js'`

[2018-08-03 15:31] forrest-rival commented on #177
lol, I think you may be right; I'm going to feel dumb if that works 😂

[2018-08-13 14:15] kentcdodds commented on #177
This is how it works, except without the bot.

The fact is, nobody I've given commit rights to has taken up the responsibilities of a maintainer.

[2018-08-13 14:32] wmertens commented on #177
:-/

I can do PR reviews and merges for nps and nps-utils. What are your expectations for maintaining? What kind of changes are ok to do/reject?

[2018-08-13 14:38] kentcdodds commented on #177
Because I'm not using the project anymore, I'm not the one to say. I'd just ask that maintainers follow server and get feedback from users before making large changes.

Once someone takes the role of maintainer and proves they can handle it, I'll personally bow out and grant release rights.

[2018-08-13 15:10] wmertens commented on #177
Ok, works for me. Sign me up.

Out of interest, how come you're no longer using the project, is it no
longer your domain or do you do things differently now?

On Mon, Aug 13, 2018 at 4:38 PM Kent C. Dodds <notifications@github.com>
wrote:

[2018-08-13 15:35] kentcdodds commented on #177
Now I write a CLI that encapsulates most of the scripts that my projects need: https://blog.kentcdodds.com/automation-without-config-412ab5e47229

Go ahead and start making PRs/helping in issues and I'll give you commit access :)

[2018-08-13 16:04] wmertens commented on #177
Ah yes in nps I don't have a PR yet but in nps-utils I do.

[2018-08-14 08:11] wmertens commented on #139
Another thing that would be useful is having the parsed arguments available in the package-scripts.js file, for example

[code]

Could define a global `nps` variable that package-scripts.js can use to do some setup, or skip extra work done to define the scripts

[code]

[2018-08-15 19:03] samijaber opened #186 "BUG: nps init does not camelCase start:* scripts"
- `nps` version: latest

`package.json` file:

[code]

The command executed:

[code]

The output:

[code]

Problem description:
`foo-bar` should be `fooBar`, which means the `package-scripts.js` file generated by `nps init` is broken/invalid JS.

Suggested solution:
Raised a PR at https://github.com/kentcdodds/nps/pull/185

[2018-08-18 15:10] wmertens commented on #139
FYI, I created https://github.com/yargs/yargs-parser/pull/130 to help with the parsing

[2018-08-20 02:03] kentcdodds commented on #186
Thanks!

[2018-08-20 02:03] #186 closed

[2018-08-27 14:41] wmertens commented on #139
That PR seems like it will have to wait a while though - last activity in yargs-parser was june :-(

[2018-09-04 00:29] iamturns commented on #168
Getting the same error as above.

[2018-10-04 16:48] #176 closed

[2018-10-30 09:14] armasescuroxana opened #189 "Nps firebase deploy fails"
- `nps` version:  5.9.3
- `node` version:10.8.0
- `npm` version: 6.2.0

Firebase deploy fails when used with nps command:
firebase deploy --only hosting:app  OK
nps app.deploy=> NOK

nps is executing `app.deploy` : firebase deploy --only hosting:app

=== Deploying to 'app'...

i  deploying hosting

Error: No public directory specified, can't deploy hosting
The script called "app.deploy" which runs

[2018-11-27 09:36] dervism opened #190 "spawn-command-with-kill, ps-tree and event-stream is not safe"
See:
indexzero/ps-tree#33
dominictarr/event-stream#116

When I run npm audit in my repo I get this message:
Malicious Package : nps > spawn-command-with-kill > ps-tree > event-stream > flatmap-stream

[2018-11-27 11:41] dervism commented on #190
I have opened a pull request: https://github.com/kentcdodds/spawn-command-with-kill/pull/2 in spawn-command-with-kill.

[2018-11-27 13:02] Germanaz0 commented on #190
Can someone merge the PR ? pleaseeeee

[2018-11-27 13:14] kentcdodds commented on #190
Merged... Wasn't flatmap-stream removed? The current version range for ps-tree should pick up the latest.... I don't see why this is necessary at all...

[2018-11-27 13:14] #190 closed

[2018-11-27 14:45] kentcdodds commented on #190
But why? The version range that's already been published should include the fixed version. There is no longer a threat.

[2018-11-27 16:33] dervism commented on #190
@kentcdodds You're right, it's not a treat now, but having the updated version of ps-tree is positive anyways. BTW: You may wanna add the range hat back on the version. I did not add it.

[2018-12-03 12:56] pvinis commented on #24
How about if the script im trying to run exists as it is, then run this, otherwise do some "smart" thing?
I have `iosX` and `ios`, and running `nps i`, `nps ios` and `nps iosX`, all run `iosX`. The correct behavior would be that `nps ios` should run `ios`, because there is a script with the exact name.

[2018-12-03 14:12] kentcdodds commented on #24
Hmmmmm.... That's how it should be working. If it's not, that's a bug. Would you like to open a new issue about it with a reproduction repository?

[2018-12-03 15:20] pvinis opened #191 "Wrong script getting called"
- `nps` version: 5.9.3
- `node` version: 10.13.0
- `npm` version: 6.4.1

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:
As you can see, when I run `nps ios`, even though there is a script with name exactly `ios`, nps is not calling the correct one.

Repro repo: https://github.com/pvinis/nps-bug
Screenshot:
![screensho

[2018-12-03 15:21] pvinis commented on #24
https://github.com/kentcdodds/nps/issues/191
here you go, i also added a repo.

[2018-12-03 16:41] kentcdodds commented on #191
Thanks! This is definitely a bug. Could you dive into this a bit and [make a PR](http://makeapullrequest.com) to fix it? Thanks!

[2018-12-03 16:42] pvinis commented on #191
I have no idea how nps works and I don't have time to get into it. I just wanted to find a better way to manage the scripts.

[2018-12-03 16:48] pvinis commented on #191
wat? did you make nps years ago and stopped using it?

[2018-12-03 16:50] kentcdodds commented on #191
Yup

[2018-12-03 16:50] kentcdodds commented on #191
I haven't used it in ~1.5 years.

[2018-12-03 16:51] kentcdodds commented on #191
It's still definitely useful and there are plenty of people using it and loving it. But I've opted for solving my script explosion issues by making [toolkits](https://blog.kentcdodds.com/automation-without-config-412ab5e47229)

[2018-12-05 21:16] Undistraction commented on #168
Same issue here:

Using:
[code]

Results in:
[code]

- "nps": "^5.9.3",
- "nps-utils": "^1.7.0",

[2018-12-28 14:43] infctr commented on #133
Given the following config:

[code]

Got passing arguments to work like this `yarn nps "test -u"`

![image](https://user-images.githubusercontent.com/15550153/50518672-f06dad00-0ac7-11e9-910a-298d96757536.png)

[2019-02-05 19:51] Falieson opened #192 "nps confirming w/ a prompt"
I through this on stack overflow last summer, and it remains unanswered.
https://stackoverflow.com/questions/50770212/adding-a-inquirer-confirmation-prompt-to-nps-package-scripting

essentially, how do I have nps call a prompt that calls a nps script? I get the error about scripts resolving to strings.

Thanks!

Somewhat relates to https://github.com/kentcdodds/nps/issues/123

[2019-02-22 23:17] schottilol commented on #191
Hey, this might be a little over the top for a first time contributor, but could I make a pull request for this issue? I've already got a fixed version on my local copy of the repository.

[2019-02-22 23:21] kentcdodds commented on #191
Hi @schottilol,

Feel free to open a PR for it. I'll try to get it reviewed.

[2019-02-22 23:22] kentcdodds opened #193 "New Maintainer Needed"
I haven't used this project in a very long time so I'm definitely not the right person to maintain it.

Would anyone else like to take it over?

[2019-02-23 06:43] #191 closed

[2019-03-09 14:09] kevjin commented on #193
Hi Kent,
I would be interested in maintaining this project. I found out about this package not too long ago and it has been very useful for organizing our scripts in several of our projects, and can see myself using it long term as well. However, I don't have any contribution history with the project and would like to make some PRs first, I feel like that would only be right. Thanks!

[2019-03-10 15:17] kevjin commented on #141
Made a PR above that would finally fix this issue. :)

[2019-03-10 15:47] #141 closed

[2019-03-11 09:41] liron-navon opened #196 "Allow functions"
This is a feature request, can we allow the support of functions? I know this have been raised in the past, and the solution was gettered, but here is a getter:

[code]

And the getter is ending up being called three times.

[code]

Also maybe supporting functions that return a string, or even functions that return a promise that resolves to a string for asynchronous code - could be great for diff

[2019-03-11 13:02] kevjin commented on #196
Hey Liron, I couldn't reproduce your issue with the sayHello getter being called three times. Could you show how it's imported to `package-scripts`?

[2019-03-12 10:52] kevjin commented on #196
For your second part regarding functions that return strings, especially async, it's a feature that we've discussed in the past and don't want to implement to avoid adding further complexity to nps. The example with `fs` can be referred to in #184. Sorry, but thanks for the issue!

[2019-03-12 11:06] kevjin commented on #192
Hey Falieson, thanks for the issue.
Would it be possible for you to make a wrapper script with `inquirer.js` and trigger release on callback? Related: this https://github.com/SBoudrias/Inquirer.js/issues/684
At least for nps, this sounds like a feature request to support an async function as a script. It's something that we've discussed in the past and have decided not to implement, to avoid overc

[2019-03-12 11:06] #192 closed

[2019-03-12 11:19] kevjin commented on #180
Hi @wmertens, thanks for the issue. I agree listing available scripts with -h or --help makes sense from a UX perspective. Would you be free to make a PR for this?

[2019-03-12 15:03] liron-navon commented on #196
@kevjin Thank you for your time.

scripts.js
[code]

and calling it with nps v5.9.3 installed globally:
[code]

[2019-03-12 15:36] liron-navon commented on #196
@kevjin
I checked the possibility to add a function instead of just a string.
I can do it in 5 lines of code worth of change.
And I'll write the tests for it.

Can I fork and make a PR? or is it useless and you honestly don't want this feature?

[2019-03-13 11:21] liron-navon commented on #196
@kevjin
Made a PR, it's kinda big but its 90% tests can you please review it? do I need to add anyone specific as a reviewer here?

https://github.com/kentcdodds/nps/pull/197

[2019-03-13 11:26] kevjin commented on #196
Hey @liron-navon, I saw the PR you made and appreciate your enthusiasm for supporting this feature and nps. We closed most of the issues you referenced in your PR because supporting functions is something we explicitly stated we do not want to do, for the reason of too much complexity as I mentioned above

[2019-03-13 11:28] liron-navon commented on #196
Too bad, please close this issue.

![RequiredExcellentDarwinsfox-size_restricted](https://user-images.githubusercontent.com/18119833/54275630-6a6fe700-458b-11e9-8a13-54a89982d5ac.gif)

[2019-03-13 11:32] kevjin commented on #196
Hey @liron-navon, I saw the PR you made and appreciate your enthusiasm for supporting this feature and nps. We closed most of the issues you referenced in your PR because supporting functions is something we explicitly stated we do not want to do in our roadmap, for the reason of complexity as I mentioned above. I think @kentcdodds would agree with me regarding this issue and PR.
Sorry about this,

[2019-03-13 11:32] #196 closed

[2019-06-03 09:44] deissh commented on #193
I can become a maintainer since I use nps quite often in my home or work projects. I would like to develop nps in functionality almost to Gulp. At the moment, NPS lacks modularity and simplicity of writing complex scripts, for example, all sorts of pipelines

[2019-06-03 12:41] kentcdodds commented on #193
If that's what you want, then I recommend starting a new project because that explicitly mentioned as something I DON'T want for this project. Thanks anyway!

[2019-07-10 13:59] kentcdodds commented on #193
Nobody has really stepped up. Therefore I'm archiving this project. It still works today, it just wont receive new features/patches/etc.

Feel free to continue using it, but because I'm not using it, I don't have the bandwidth to maintain it.

Feel free to fork the project and republish under a new domain in accordance to the MIT license this project has.

[2019-07-10 13:59] #193 closed

[2019-08-21 04:47] kentcdodds commented on #193
Hey folks, I'd like to introduce you to your new maintainer: @sezna :)

I'm handing him the keys of the kingdom. The repo will be completely transferred to him as well as the npm publish rights.

Hopefully this will help to fix bugs and add new features that people are looking for out of this package. Good luck friends! 👋

[2019-08-21 14:41] sezna commented on #193
Ahoy! Thanks Kent!

[2019-08-21 15:18] sezna commented on #189
Hi @armasescuroxana , I believe this is a failure of your firebase deploy script, and not with nps itself. Given this issue has had no recent activity, I am closing it. Please feel free to reopen it if you still think it is a problem with nps.

[2019-08-21 15:18] #189 closed

[2019-08-28 04:41] lookfirst opened #202 "yarn add -D nps"
Doesn't put nps in `node_modules/.bin`

[2019-08-28 05:35] benweier commented on #202
Here's a little more information. Installing `nps` or running `npx nps` produces an error that appears to be the same problem as #49

[code]

[2019-08-28 05:46] lookfirst commented on #202
Which is in turn probably related to this: https://github.com/sezna/nps/commit/ecb5c434a54ad5b9331b7149eb46db035246da37

[2019-08-28 05:49] lookfirst commented on #202
`yarn add -D nps@5.9.5` works

[2019-08-28 06:56] lookfirst opened #203 "help documentation doesn't exist anymore"
https://github.com/sezna/nps/blob/v5.9.8/other/ERRORS_AND_WARNINGS.md#invalid-flags

[2019-08-28 06:57] lookfirst commented on #203
It is linked in error messages.

[2019-08-28 15:14] wmertens commented on #179
Yes indeed :)

[2019-09-05 20:34] wmertens opened #205 "add all node_modules in parent paths to the path (monorepo)"
Problem description:

When you use a monorepo, there could be shared tools installed in the repo root and then each package has its own unique dependencies. It would be nice to have them be in path.

Suggested solution:

when creating the PATH variable, walk up the path and add any subdirectories named `node_modules/.bin`.

[2019-09-07 18:29] sezna commented on #205
If I understand the problem correctly, this would allow you to run dependencies from project `foo` when in sibling project `bar`?
[code]

E.g. running `baz` from within `bar`?

[2019-09-08 10:03] wmertens commented on #205
no, it would be like

[code]

and from `bar` you'd be able to run `baz`

[2019-09-11 02:28] sezna commented on #205
That could introduce ambiguity between `bar`'s modules and `monorepo`'s modules. We could define to use the more local ones preferentially, but I would think that if you have a script inside of `bar`, the dependencies of that script should also be contained within `bar`'s modules. Is this not desirable in your case?

[2019-09-13 22:09] mreschke commented on #177
Here is a scenario I would love this "mid-script args" to solve.  I am using Nrwl NX monorepo with tons of angular apps inside.  I want to create an NPS shortcut for each app to get into the NG Angular cli for that app.  I want to type `nps wiki.ng` to use any NG command in the context of the wiki app.  For example to generate a new component in the wiki app I woulf run `nps "wiki.ng generate comp

[2019-10-04 11:45] ryansully commented on #123
There is already a project that seems to do this, https://github.com/siddharthkp/nps-i.
It was even added to the README in https://github.com/sezna/nps/pull/178.

[2019-10-15 08:18] zygimantas opened #207 "j"
- `nps` version:
- `node` version:
- `npm` version:

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:

Suggested solution:

[2019-10-15 08:19] #207 closed

[2019-10-23 10:18] pvinis opened #208 "point `default` to named script"
This is not really a problem, more of a question.

Can I have something like
[code]

Basically I would like to have a named script, and to point to it as the default.

[2019-11-02 20:33] sezna commented on #208
I don't see any problems with this request. Looks good to me.

[2019-11-05 08:19] VivekFitkariwala opened #209 "Getting security vulnerability detected in mem < 4.0.0 from github"
Getting security vulnerability detected in mem < 4.0.0 when using nps.

Solution: Upgrading yargs to latest version which don't use os-locale which has dependency on mem

[2019-11-12 21:12] scottnath opened #211 "Cannot stop running scripts"
- `nps` version: 5.4.0
- `node` version: 10.16
- `npm` version: 6.9

When a given npm-script triggered by `nps` is running, I cannot make the script stop until it is complete. Normally (on mac) I trigger a script to stop by using `ctrl+c`, but this is not currently working.

Is there another way to stop nps-triggered NPM scripts before they are complete?

thanks,
Scott

[2019-11-14 06:14] VivekFitkariwala commented on #209
I have added a pull request upgrading yargs and fixing test cases accordingly
https://github.com/sezna/nps/pull/210

[2019-11-27 21:43] sezna commented on #209
Thank you for this!

[2019-11-27 21:43] #209 closed

[2019-12-03 11:07] Vages opened #212 "Version after 5.9.8"
Hi! I'm hoping the next version (containing 8acd82f141d73e40ef45f6790d85f3a1b9923302 which fixes the `mem` vulnerability) will be out soon.

I understand that there is probably some good reasons (personal or technical) that it's being held up. And if it's a technical thing, I'd be glad to help.

PS: Thanks for maintaining a great package. It's probably my number one recommendation these days. Are

[2019-12-06 07:32] sezna commented on #212
I will go ahead and  set up a deploy for tonight or tomorrow. I was dragging my feet a little, anticipating something else to get submitted, but I don't think that is happening soon.

As for the donate button, this package was originally created by @kentcdodds. I took it over because he didn't have the resources to maintain it in addition to all of his other big projects. I'd recommend using Githu

[2019-12-07 00:53] sezna commented on #212
@Vages https://www.npmjs.com/package/nps done.

[2019-12-07 00:53] #212 closed

[2019-12-07 07:44] Vages opened #213 "5.9.10 (or 5.9.9) is not executable"
- `nps` version: 5.9.10 (or 5.9.9 going by Github)
- `node` version: 12.13.1
- `npm` version: 6.12.1
- `yarn` version: 1.19.2

The command executed:

**npm**
[code]

**yarn**
[code]

The output:
**npm**
[code]

**yarn**
[code]

Problem description:
`nps` version 5.9.10 (or 5.9.9) is not executable, because no `nps` script is added to `node_modules/.bin`.

The problem appears somewhat differently w

[2019-12-07 07:44] Vages commented on #213
Note that the versions have diverged on Github and npm

[2019-12-07 17:00] sezna commented on #213
Alright, I’m taking a look now. I don’t think it is tied to the version mismatch, as things were mismatched before. It might have to do with the travis deployment change.

[2019-12-07 18:03] MUTOgen commented on #213
I have the same issue
Can't install `nps` globally

[code]

[2019-12-07 18:46] #213 closed

[2019-12-07 19:04] sezna commented on #213
All fixed up. New synced-up version is v5.9.12.

[2019-12-08 11:01] cursedcoder opened #215 "Missing documentation for .npsrc"
So .npsrc was provided by this PR, https://github.com/sezna/nps/pull/198.

However, there is no documentation.

[2019-12-08 11:17] cursedcoder opened #216 "Support colon dotation command resolve"
Problem description:
`npx nps init -yml` will take this:
[code]

And make this:

[code]

Now it's impossible to call it as previously: `npx nps infra:create`, but should be `npx nps infra.create`.

I personally find this breaking the logic.

Suggested solution:
Allow using `:` as path resolver.

[2019-12-08 18:18] sezna commented on #215
Good call.

[2019-12-19 19:21] evdhiggins commented on #208
Perhaps I'm missing something, but couldn't this be achieved by directly calling the desired script from `default`?

e.g.
[code]
This will result in nps logging two separate script executions to the console, but I can't imagine that an additional configuration would be more succinct.

I suppose that this wouldn't work very well in a case where you wanted to pass dynamic arguments from the command

[2019-12-20 13:40] pvinis commented on #208
🤔 I guess that makes sense, but it would be nice to have support for args. hmm

[2020-02-04 13:12] wmertens commented on #139
To do this in a backwards-compatible way, how about having to set a flag in package-scripts.js?

E.g. if the returned object contains `_passArgs: true`, it works as explained here, otherwise retain the current behavior?

[2020-02-04 13:12] wmertens commented on #177
@mreschke the problem is encoding the given parameters.

Since nps always expects to generate shell code, I propose that the literal `"$@"` is replaced with the shell-quoted arguments, `$*` with the arguments as-is, and `$1` etc with the shell-quoted positional argument.

Now, currently the only way to pass arguments is to call `nps "name arg1 arg2"` so `$@` and `$*` will be the same. If that is c

[2020-02-05 09:57] ConneXNL opened #217 "[Feature Req.] Typescript support?"
Are there any plans to support Typescript so one can use package-scripts.ts instead of package-scripts.js?

[2020-03-02 15:34] sezna commented on #217
Not currently,although it wouldn't be impossible. What advantages would you say having a typed package-scripts file has?

[2020-03-02 21:19] ConneXNL commented on #217
It makes it possible to import typed utility functions written in ts that abstract the generation of the configuration.

Also it would allow to write modern javascript without the hassle of using requires, module.export etc. (using babel would do the same more or less).

[2020-03-03 03:31] simran66 opened #218 "The script called build failed with exit code 1"
- `nps` version: 5.9.12
- `node` version: 10.16.0
- `npm` version: 6.9.0

Scripts file (or at least the relevant bits):

The command executed:

[code]

The output:
 cat /home/ec2-user/.npm/_logs/2020-03-03T03_09_45_612Z-debug.log

[code]

Problem description:
npm install seem to have worked without any issues. I also installed and uninstalled npm modules but did not help. How can I fix this?

Sugg

[2020-04-22 12:54] carddamom commented on #217
I'm also looking for this, and as a shortcut I have installed **ts-node** and used the following:

`nps --config ./package-scripts.ts --require ts-node/register ${script_name}`

To run your scripts using typescript...

If you use nps_utils.concurrent.nps or nps_utils.series.nps you may need to replace them by:

[code]

For nps_utils.concurrent.nps and:

[code]

For nps_utils.series.nps.

Where the

[2020-06-15 15:36] sezna commented on #218
Can you post the contents of your `package.json`? This issue doesn't look to involve `nps` at first glance.

[2020-07-12 18:15] RA80533 opened #222 "README.md contains a broken link"
https://github.com/sezna/nps/blob/6eb54ac33b43ac9e2ea55a2cbf1ccb32463a9de8/README.md#L537

The URL on line 537 of the project README is broken. While the resource currently exists on the medium.freecodecamp.org domain, the documentation links to the medium.freecodecamp.com domain. freeCodeCamp may have routed the URL to the correct destination in the past but it currently appears not to.

[2020-07-13 22:22] justin808 commented on #193
@kentcdodds

What are you using instead?

[2020-07-16 16:53] sezna commented on #222
Thanks! I'll go ahead and fix this.

[2020-07-16 16:54] #222 closed

[2020-09-04 14:33] airtonix opened #224 "yaml include"
- `nps` version:
[code]
- `node` version:
[code]
- `npm` version:
[code]

Scripts file (or at least the relevant bits):

[code]

[code]

The command executed:

[code]
or
[code]

The output:

[code]

Problem description:

want to split up monorepo tasks among their relevant areas

Suggested solution:

[code]

I actually came up with this wrapper:

[code]

lets me have these yaml files:

[code]

out

[2020-09-14 04:19] sezna commented on #224
This seems like a reasonable add. Would you be open to writing a PR for it?

[2020-11-01 03:39] dc165015 opened #225 "How can I add nps-utils to .npsrc?"
I am a newcomer.
I tried to use concurrent in package-scripts.yml, then it came with concurrent not found
Then I tried to required it in .npsrc, but I don't know how.
I installed nps, nps-i, nps-utils globally, and put .npsrc in user home folder ~. The file is like the following:
[code]
I googled a lot to try to find an example but failed.

Though nps is great and brought a lot convenience, could

[2020-11-01 04:31] #225 closed

[2020-12-13 16:22] ben-eb opened #226 "Automatic conversion using init does not take into account $npm_package"
- `nps` version: 5.10.0
- `node` version: 12.16.1
- `npm` version: 6.13.4

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:

`npm` allows templating in values from `package.json`; a script like `$npm_package_scripts_build --serve` would be expanded out to `eleventy --input src --output dst --serve` (given a `build` scri

[2021-02-11 01:25] stoplion opened #228 "Is there an options for --prefix?"
- `nps` 5.10.0:
- `node` v15.4.0:
- `npm` 7.5.0:

Scripts file (or at least the relevant bits):

Sits in `/server`

[code]

Sits in root

[code]
The main package.json  (the one sitting in root) was able to run scripts in subfolders using the `--prefix` option.
I'm trying to reproduce the same setup with nps. Is this possible?

When running the `nps server.start` from the the root dir in CLI, I'm a

[2021-03-24 02:50] #228 closed

[2021-06-11 17:34] ctjlewis opened #230 "Using `package-scripts.js` in ESM context?"
Sadly, I have the great misfortune of needing to work on a codebase which uses `nps`, and despite the project's stated goal, "unmaintainable mess" is quite an understatement due to the number of security vulnerabilities and CJS/ESM conflicts I'm getting.

Is there any way for me to load `package-scripts.js` in an ESM context? It seems like `nps` is just trying to naively `require(...)` the module

[2021-06-29 21:47] brekk commented on #230
@ctjlewis Have you tried using the `.cjs` extension? I was having the same problem but I was able to get things working by changing the `package-scripts.js` file to `package-scripts.cjs` and then calling `nps` with the command:

[code]

[2021-07-01 21:50] jcubic commented on #230
I have similar problem, also the old project that use nps. But in my case nps run other nps scripts and `nps -c ./package-scripts.cjs` doesn't work because nested nps are no invoked I've got error that no config get found. Only top level nps is executed.

[2021-08-03 02:51] SupremeTechnopriest commented on #230
You have a few options:

1. Use yaml instead of json `package-scripts.yaml`
2. Add a `.npmrc.json` with the following config and rename `package-scripts.js` to `package-scripts.cjs`

[code]

[2021-08-16 23:46] Venryx commented on #196
I found out why the triple-log issue showed up for Liron but not others: the issue only shows up when the getter is "nested" inside a group.

So this has the issue:
[code]

But this is fine:
[code]

[2021-08-17 11:35] Venryx commented on #196
I found out why the triple-log is occurring by the way.

The reason is that the `scripts.sayHello` entry is having a `copy` of the entry added under the key `say-hello`, from this line: https://github.com/sezna/nps/blob/57989a24ff6876b3d5245f7e00b76aaf39296d31/src/get-script-to-run.js#L9

Now that `exports.scripts` has two keys (`sayHello` and `say-hello`) with the same accessor/getter function, i

[2021-08-17 12:38] Venryx commented on #196
@kevjin By the way, you might be happy to hear that I found a way to achieve your feature request by adding some monkey-patching within the `package-scripts.js` file. It's kinda hacky, but it works, and doesn't take that much boilerplate:
[code]

With the `package-scripts.js` above, here are the results: (confirmed just now in fresh project)
[code]

[code]

(Note that `saying hello...` is logged f

[2021-08-17 16:59] Venryx commented on #133
Just wanted to mention that using `npm start "myScript -- myArg"` is not working for me.

It produces this error:
[code]

Here is my `package.json`:
[code]

I think the problem is that npm is probably seeing `npm start SECTION1 -- SECTION2`, and thinking that it needs to do something with the text after the `--`, thus chopping it off before nps sees it in `process.argv`.

I suspect the above becau

[2021-08-17 17:02] Venryx commented on #133
I'm too impatient to wait for a proper fix, so I made this hacky workaround:
[code]

Usage (`package-scripts.js`):
[code]

Usage (from terminal):
[code]

The resulting command run from the above: `someExternalCommand myArg`

[2021-08-17 17:34] Venryx commented on #133
To clarify on usage, here is an example `package-scripts.js`:
[code]

Example usage: (`myScript myArg`)
[code]

Example usage: (`myScript -- myArg`)
[code]

[2021-08-17 17:39] Venryx commented on #184
@Mehuge For those preferring monkey-patching over a separate package, I found a way to make `nps` accept functions for script entries: https://github.com/sezna/nps/issues/196#issuecomment-900261228

Most people would prefer your fork I think, but the monkey-patch approach is available if desired. (I'm using it anyway)

[2022-01-23 07:23] wSedlacek opened #232 "Security - Inefficient Regular Expression Complexity in chalk/ansi-regex"
https://github.com/sezna/nps/blob/57989a24ff6876b3d5245f7e00b76aaf39296d31/package.json#L33

[code]

Are there any plans on updating `yargs`?

[2022-04-28 12:36] mf-bruce opened #234 "Offering to maintain nps"
First off, thanks @sezna for building nps in the first place! We have been using it at Markforged for some time now, and have found it to be elegant in its simplicity, whilst providing just enough functionality to be incredibly powerful!

It seems that nps has lacked maintenance for some years now, there are outstanding [security issues](https://github.com/sezna/nps/issues/232), and feature reques

[2022-04-28 13:35] sezna commented on #234
Yeah, I took over because my previous job was using it and it wasn't being maintained. Now, I'm no longer in that role and I haven't had the time to give it any love. Happy to find somebody who is willing to give it the love it needs!

[2022-04-28 19:54] mf-bruce commented on #234
Awesome! How do we go about transferring this? Would it make sense to transfer the npm package ownership so we can publish from our repo moving forward?

[2022-06-08 09:05] Melmoth-the-Wanderer commented on #234
@mf-bruce have you taken over the project?

[2022-06-09 13:13] mf-bruce commented on #234
Yep, you can find our fork
* on [Github](https://github.com/MarkForged/nps)
* on [npm](https://www.npmjs.com/package/@markforged/nps) as `@markforged/nps`

Would be nice to transfer the original package name on npm, or at least deprecate it. FYI it's possible the npm deploy key for the original package was leaked via travis:( https://arstechnica.com/information-technology/2021/09/travis-ci-flaw-ex

[2022-06-09 14:22] mf-bruce commented on #232
This is fixed in our fork of nps, available here: https://www.npmjs.com/package/@markforged/nps

[2022-06-10 13:56] mf-bruce commented on #234
@sezna the current status quo will work fine for folks who proactively want to use a newer version of `nps` but there are some things we can do to smooth the transition for users who just have "latest" specified in package.json, or new folks discovering this package. Raising these here as I will need some assistance from yourself if we are going to execute on them.

* Transfer issues to our fork
*

[2022-08-09 14:46] nareshbhatia commented on #234
I just stumbled upon this package today and found it very interesting. But looking at the last commit almost 2 years ago, was hesitant to pick it up. Until I saw this issue. Great job @mf-bruce to keep it going.

I would personally like to see mf-bruces fork merged over here so that star ratings can be maintained. There is lot of equity build into the stars and the downloads - would be sad to loos

[2022-09-09 09:23] UnderKoen opened #235 "Run all subcommands"
It would be awesome if it was possible to use something like:

[code]

To run all subtasks

[2022-09-23 22:42] nagarsuresh opened #236 "nps to list only top level commands"
First of all its an awesome tool and I can't imagine how as i was working without it..

lists down all the nps scripts available, but this lists all the scripts even when they are not TOP level script or dependent scripts.  Please change nps default command to only list the TOP level scripts which are not dependent on other scripts and may have additional flag to list all scripts e.g.

[code]

[co

[2022-10-01 19:45] kirkstrobeck commented on #217
Type safety

[2022-11-08 04:08] Wangggym opened #237 "How to add an extra command in usng `nps`"
- `nps` version: 5.10.0
- `node` version: v14.17.1
- `npm` version: 8.3.0

Scripts file (or at least the relevant bits):

[code]

The command executed:

[code]

The output:

[code]

Problem description:
How to add an extra command in using `nps`?

Suggested solution:
`nps something` => `nps something --extra command`